[2021-06-29 14:43] HailleySeed commented on #297
Great, thank you. For the look and feel, we can release it as is since we would like it out before July 15.
But if possible, could we aim to have the redesign done by Sept 15 when the CFP closes and the speakers are announced?

Thank you!
Hailley

[2021-07-06 18:44] #297 closed

[2021-07-06 18:49] autumnfound commented on #297
@HailleySeed the event is now live! https://jakartaone.org/2021/

[2021-07-06 19:04] HailleySeed commented on #297
Thank you!

[2021-07-09 14:39] HailleySeed opened #299 "Jakarta EE - Portuguese Call for Papers"
Hi,

Can we please get the "CALL FOR PAPERS - COMING SOON" changed to "CALL FOR PAPERS - NOW OPEN"
@otaviojava can you please translate "now open" to the Portuguese translation?

Thank you,
Hailley

[2021-07-09 16:08] otaviojava commented on #299
@HailleySeed "Está aberto"

[2021-07-12 12:42] #299 closed

[2021-07-12 15:08] HailleySeed opened #302 "JakartaOne Turkish - ADD Speakers"
Hi,

Can I please get the following speakers added to the https://jakartaone.org/2021/turkish/ site.

Name: Ali Ok
Position: Senior Software Engineer
Company: RedHat

Name: Aykut M. Bulgu
Position: System Craftsman
Company: RedHat

Name Kenan Sevindik
Position Software Developer Architect Trainer Consultant
Company Harezmi Bilişim

@hakdogan  Can you please translate this to Turkish?
Profile pictu

[2021-07-12 16:10] hakdogan commented on #302
Hi @HailleySeed

Sure

İsim: Ali Ok
Pozisyon: Kıdemli Yazılım Mühendisi
Şirket: RedHat

We are making a small change in Aykut for position. In English:  System Craftsman and Services Content Architect

İsim: Aykut M. Bulgu
Pozisyon: Sistem Zanaatkarı, İçerik Mimarı
Şirket: RedHat

İsim: Kenan Sevindik
Pozisyon: Yazılım Geliştirici Mimar, Eğitmen, Danışman
Şirket: Harezmi Bilişim

[2021-07-13 13:44] autumnfound commented on #270
@shanda-eclipse @meKokabi I'll be picking this back up in the near future, and I know we had mock ups posted to other issues. Could I get the up to date mocks posted here?

[2021-07-13 13:50] shanda-eclipse commented on #270
https://xd.adobe.com/view/9ebb2fac-7bf6-458e-aed9-8cce23e50bdb-cbe8/

[2021-07-13 18:32] autumnfound commented on #270
Thanks Shanda! I'll start working on this and push up a preview so I can update you on sections as I complete them. One question though. At the bottom of the page, we have a section displaying past events. Wouldn't we want to list other upcoming events, to try and have cross-pollination between our audience?

[2021-07-13 18:34] shanda-eclipse commented on #270
It definitely makes sense to show other upcoming events, but we don't always have upcoming events, whereas we always have past events. Is there a way to show upcoming events, but if there are none available, show past events?

[2021-07-13 18:36] shanda-eclipse commented on #270
Actually, I'm just realizing that this site is all static content right? So we can adjust that section for each event as needed. So yes, please do upcoming events for the page you are currently working on.

[2021-07-13 18:46] autumnfound commented on #270
This is all templated content where the content surrounding the event content would update on every build. This includes the section where the upcoming/past events live. This way we can keep things all up to date together, and recommend better content.

That said, we can extract it and make it static and part of the event template, but it would add more maintenance burden on both of our teams as s

[2021-07-13 18:51] shanda-eclipse commented on #270
I don't understand how, but it sounds like it will automatically pull the upcoming events into the page which works for me. If there are no upcoming events, either show past events or hide the section. Whatever is easier for you.

[2021-07-13 19:16] autumnfound commented on #270
Additionally, I'll need the image assets used in the XD mock. One or two are assets we've used, but there are a few that appear to be new.

[2021-07-13 19:17] meKokabi commented on #270
No worries, I will add them shortly!

On Tue, Jul 13, 2021 at 3:16 PM Martin Lowe ***@***.***>
wrote:

[2021-07-13 19:28] autumnfound commented on #270
@shanda-eclipse @meKokabi Very early days for the preview, but I've got the first part started https://deploy-preview-304--jakartaee-jakartaone.netlify.app. In terms of content, I've updated most of the 2021 event jumbotrons to use the new white boxed buttons rather than the orange colour we had previously. There are a few cases where we have the sailboat in that section as well. How do we want to

[2021-07-14 16:30] meKokabi commented on #270
@autumnfound Good Job with staging. I have enclosed the assets in case:
[ASSETS.JAKARTA.EE.zip](https://github.com/jakartaee/jakartaone.org/files/6817587/ASSETS.JAKARTA.EE.zip)

[2021-07-15 12:43] #302 closed

[2021-07-15 14:23] autumnfound commented on #270
RE: The speaker images. What's the plan for those going forward? Will transparent PNGs be provided for all of the speakers, or will they be pre-rendered with a blue background?

[2021-07-15 14:25] meKokabi commented on #270
Let’s keep it blue background .

On Thu, Jul 15, 2021 at 10:23 AM Martin Lowe ***@***.***>
wrote:

--

Mehrnaz Kokabi

Creative Lead | Eclipse Foundation, Inc.
Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2021-07-15 15:01] HailleySeed opened #306 "JakartaOne Turkish-CFP Closed"
Hi,

Under the JakartaOne Turkish, can you please add NOW CLOSED to the Call for Papers Headline?

@hakdogan Can you please translate "NOW CLOSED" to Turkish.

As well, the 3 names added in my last bug report; Ali Ok,  Aykut M. Bulgu and Kenan Sevindik should be under the heading
"Speakers" and not "Program Committee"

Sorry if there was confusion!

Thank you,
Hailley

[2021-07-15 15:11] hakdogan commented on #306
Hi @HailleySeed

NOW CLOSED ==> ŞİMDİ KAPALI

No, you're right but I'm not responsible for this mistake if your note is to me

[2021-07-15 16:11] autumnfound commented on #306
Apologies, that was me! I'm correcting this now and will have a preview up in a few minutes

[2021-07-15 16:16] autumnfound commented on #306
Here is a preview for both changes, apologies for the mix up! https://deploy-preview-307--jakartaee-jakartaone.netlify.app/2021/turkish/

[2021-07-15 17:27] HailleySeed commented on #306
That's great, thank you for the changes @autumnfound

Hailley

[2021-07-22 13:05] #306 closed

[2021-07-26 20:32] HailleySeed opened #308 "JakartaOne Livestream Spanish-CFP Open"
Hi!

Can you please change the "CALL FOR PAPERS - COMING SOON" to "CALL FOR PAPERS - NOW OPEN" on the JakartaOne Livestream Spanish Website.

Thank you!

[2021-07-27 13:08] autumnfound commented on #308
@ecabrerar could you provide a translation? We used slightly different phrasing last year from what I can see so I can't steal that sadly.

[2021-07-27 13:16] ecabrerar commented on #308
EN: CALL FOR PAPERS - NOW OPEN
ES: ENVÍA TU PROPUESTA PARA PARTICIPAR COMO CONFERENCISTA

[2021-07-27 15:06] #308 closed

[2021-07-27 15:49] edbratt commented on #299
Not sure where to make this comment -- Will you be setting a deadline for submitting a presentation proposal? If not, when will the CFP close? It would be useful to submitters to know what their deadline is.

[2021-07-27 20:02] autumnfound commented on #308
I checked the CFP link that is on the page and it indicates that it will close on August 1st! @HailleySeed do we want to add this on the page to make it so people don't have to search for it?

[2021-07-27 21:29] edbratt commented on #308
Yeah, my eye-balls are kind of trained to ignore stuff is banner sections now that so much content is filled with advertisements. I missed it. To me, making the end-date easier to see can only help make sure that anyone who wants to make a submission does so, in time.

[2021-07-27 21:32] edbratt commented on #299
Additionally, the text in the CFP link suggests this event will be on Sep. 20. (At least that's how Google Translate, translates it.)

[2021-07-28 12:51] autumnfound commented on #308
I totally agree that making it easier to see is the right thing to do! Or at the very least put it in more spots to make it easier to find

[2021-07-28 13:19] autumnfound opened #310 "CFP closing dates should be more easily discovered"
On the Portuguese and Spanish events, the dates for the CFP closing are not clear. We should state this on the site to better inform users rather than frustrate them. We have the Spanish event date (Aug 1st) but not the Portuguese event CFP closing date. We've reached out internally to the hosts to confirm the date before we update the pages!

[2021-07-28 13:21] autumnfound commented on #310
@otaviojava would you happen to know the date for this? Just reiterating the question here for transparency!

[2021-07-28 13:23] autumnfound opened #311 "Date for Portuguese event is inconsistent"
This was originally pointed out by @edbratt (https://github.com/jakartaee/jakartaone.org/issues/299#issuecomment-887849281). The dates within the site and the CFP are inconsistent, and should be updated.

[2021-07-28 13:28] HailleySeed commented on #308
Yes, I agree. Sounds good to me! Thank you!

[2021-07-28 13:47] HailleySeed commented on #299
Hi Ed! I have reached out to the program committee to clarify the dates and we will make the website changes accordingly. Sorry for the confusion!
Hailley

[2021-07-28 14:13] autumnfound commented on #311
We've at least made the site consistent with itself. If it turns out that the 20th is the correct date, we can make another patch!

[2021-07-28 18:20] HailleySeed commented on #311
Hi @autumnfound, here are the updated dates provided from the PC. Do you mind please updating the website?

date of the event: September 29
date the CFP closes: July 31

Thank you!

[2021-07-28 18:36] autumnfound commented on #311
What sort of text do you want for the CFP sections? Something like the following maybe?

[2021-07-28 18:43] HailleySeed commented on #311
Yes, that is great. Thank you!

Any chance this could be done by tomorrow? We just have the Jakarta Call tomorrow so it would be great if it could be done by then. But only if it is feasible.

Thank you!
Hailley

[2021-07-28 18:55] autumnfound commented on #311
@otaviojava @ecabrerar we're looking for PT and ES translations of the above phrase, where the blank would be a date, either July 31st or August 1st. We need both since both sites don't have the CFP date on the event page. Thanks in advance, we appreciate the help you guys provide!

[2021-07-28 19:48] ecabrerar commented on #311
English

Date of the event: October 1, 2021
Date the CFP closes: August 15, 2021

Spanish
Fecha del evento: 1 de octubre de 2021
Fecha límite de recepción de propuestas: 15 de agosto de 2021

[2021-07-28 19:52] HailleySeed commented on #311
@ecabrerar can you also please translate the following sentence:
The call for papers closes on August 15. Please submit your proposals before then, we can't wait to see you there!

Thank you!

[2021-07-28 20:02] ecabrerar commented on #311
La fecha límite de recepción de propuestas es el 15 de agosto. Envíe sus propuestas antes de esa fecha, queremos contar con tu participación!

[2021-07-28 20:05] ecabrerar commented on #311
@HailleySeed   Please, update the event date in the home page of JakartaOne Hispano (https://jakartaone.org/2021/hispano)

Replace **October 12, 2020** with **October 1, 2021**

![Screenshot 2021-07-28 at 15-47-00 JakartaOne Livestream - Spanish Jakarta EE Software Cloud Native The Eclipse Foundation](https://user-images.githubusercontent.com/2789130/127388366-b3584b6b-19b1-424a-a630-8f0348944205.

[2021-07-28 20:11] HailleySeed commented on #311
@autumnfound Can you please change this date as well? Thank you!

Hailley

[2021-07-29 09:45] otaviojava commented on #310
Hey @autumnfound how are you?
The date is: Aug 1st

[2021-07-29 09:55] otaviojava commented on #299
That's a good point.
The C4P closes on August 1.

[2021-07-29 09:56] otaviojava commented on #311
Hey, let's close the C4P on August 1.
At least the Portuguese one.

[2021-07-29 14:17] autumnfound commented on #311
@otaviojava we will also need the translated value of the following phrase

[2021-07-29 16:31] otaviojava commented on #311
@autumnfound
O Call for papers fecha em 1 de agosto. Submeta sua proposta, nos vemos por lá

[2021-07-29 16:57] autumnfound commented on #311
The changes are available in a preview, should be live later today https://deploy-preview-313--jakartaee-jakartaone.netlify.app/

[2021-07-30 13:09] #310 closed

[2021-07-30 13:09] #311 closed

[2021-07-30 13:10] autumnfound commented on #310
@otaviojava thanks! I'm doing well, though its a bit busy atm haha!

[2021-07-30 16:27] edbratt commented on #311
The body of the [Google Doc / Form](https://docs.google.com/forms/d/e/1FAIpQLSczvoKt9fQXeFd1bBfe5u083NYjXI-G2zr4CJFr2Vgfk1pztQ/viewform) still contains the wrong date (2nd bullet point near the top)

[2021-07-30 17:04] HailleySeed commented on #311
It is now updated!

Hailley

[2021-07-30 18:32] edbratt commented on #311
Thank you Hailley!

On 7/30/2021 10:04 AM, HailleySeed wrote:

[2021-08-02 15:12] hakdogan opened #315 "JakartaOne Turkish - ADD Speakers"
Hi @autumnfound,

Can you please the following speakers added to the https://jakartaone.org/2021/turkish/ site.

Name: Çağatay Çivici
Position: Founder of PrimeTek
Company: PrimeTek

Photo
![Cagatay](https://user-images.githubusercontent.com/657846/127883594-6c2ed10a-b306-4dc5-8560-324bb2887586.jpeg)

Name: Rustam Mehmandarov
Position: Chief Engineer
Company: Computas

Photo
![Rustem](https://user

[2021-08-04 14:22] linkfang commented on #315
Hi @hakdogan , can you please provide a Turkish version?

[2021-08-04 15:08] linkfang commented on #315
Cool! Thanks!

[2021-08-05 13:57] #315 closed

[2021-08-07 13:41] hakdogan opened #317 "JakartaOne Turkish - ADD Schedule"
Hi,

Please add the below schedule section to the [JakartaOne Turkish](https://jakartaone.org/2021/turkish/) website

Legend:

KN: Keynote
P: Presentation
LT: Lightning Talk

|      | Session Name | Presenter | Time
| ----------- | ----------- | ----------- | ---: |
| KN | Opening       | Altuğ B. Altıntaş<br>Hüseyin Akdoğan<br>Taner Diler | 12.30-12.55 GMT+3<br>09.30-09.55 UTC
| P  | JPA/Hibernat

[2021-08-09 12:17] HailleySeed opened #318 "JakartaOne Livestream Portuguese"
Please change : "CALL FOR PAPERS - NOW OPEN" to "CALL FOR PAPERS - NOW CLOSED"
@otaviojava please translate "CALL FOR PAPERS - NOW CLOSED"

Thank you!

[2021-08-09 15:32] otaviojava commented on #318
"CALL FOR PAPERS - Fechado"

[2021-08-09 17:41] #318 closed

[2021-08-10 20:19] linkfang commented on #317
Hi @hakdogan ,

Please preview the changes here:
https://deploy-preview-320--jakartaee-jakartaone.netlify.app/2021/turkish/

[2021-08-10 21:18] hakdogan commented on #317
Hi @linkfang,

Looks great, thank you

[2021-08-11 13:13] #317 closed

[2021-08-16 17:25] HailleySeed opened #322 "JakartaOne Livestream Spanish Website Update"
Hi!

Please change: CALL FOR PAPERS - NOW OPEN to CALL FOR PAPERS - NOW CLOSED

As well, can you please remove:
"The call for papers closes on August 15th. Please submit your proposals before then, we can’t wait to see you there!" and ADD "Registration is now open, be sure to register so you don't miss out! We can’t wait to see you there!"

Thank you!

[2021-08-18 15:44] autumnfound commented on #322
@HailleySeed we're going to need a translation for the Spanish page. @ecabrerar could you provide a quick translation? Thanks in advance!

[2021-08-18 16:04] ecabrerar commented on #322
EN:
CALL FOR PAPERS - NOW CLOSED :

ES:
LA RECEPCIÓN DE PROPUESTA PARA PARTICIPAR COMO CONFERENCISTA HA FINALIZADO.

EN:
Registration is now open, be sure to register so you don't miss out! We can’t wait to see you there!

ES:
¡Las inscripciones están abiertas, registrarse ahora para ser parte de esta conferencia! ¡Estamos ansiosos por compartir contigo en nuestro evento !

[2021-08-18 18:44] autumnfound commented on #322
I've updated a preview with these changes, which can be seen here: https://deploy-preview-323--jakartaee-jakartaone.netlify.app/2021/hispano/

[2021-08-18 18:51] HailleySeed commented on #322
Looks great! Can you also please remove the orange call for papers button below where is says "Registration is now open, be sure to register so you don’t miss out! We can’t wait to see you there!" and just leave the registration button?

Thank you!

[2021-08-18 18:59] autumnfound commented on #322
Updated!

[2021-08-18 19:08] HailleySeed commented on #322
Thank you!

+1

[2021-08-18 19:43] #322 closed

[2021-08-23 15:06] HailleySeed opened #324 "Turkish Livestream-Now Closed"
Hi,
Can you please remove:
"CALL FOR PAPERS - NOW CLOSED
JakartaOne Livestream is a one-day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta™ EE and related technologies focused on developing cloud native Java applications. This is the first edition of the event entirely in Turkish.

The call for papers for JakartaOn

[2021-08-23 19:31] HailleySeed commented on #324
Translation:
ETKİNLİK ŞİMDİ SONUÇLANDI!
Türkçe olarak gerçekleştirilen ilk JakartaOne Livestream'i büyük bir başarıya dönüştürdüğünüz için teşekkür ederiz!
Bu dönüm noktası, kendini adamış bir topluluğun kolektif çabaları olmadan mümkün olmazdı.

[2021-08-23 19:34] hakdogan commented on #324
Hi @HailleySeed,

Thank you part of the translation should also be added.

**THE EVENT HAS NOW CONCLUDED!**
Thank You for making the first JakartaOne Livestream in Turkish a great success!
This milestone would not be possible without the collective efforts of a dedicated community.
Thank you!

**ETKİNLİK ŞİMDİ SONUÇLANDI!**
Türkçe olarak gerçekleştirilen ilk JakartaOne Livestream'i büyük bir başar

[2021-08-24 00:04] kmacedovarela opened #325 "JakartaOne Portuguese - Add confirmed speakers"
Hi,

Can you please add the following speakers to the list of the current confirmed speakers?

Please let me know if you need any extra details.

Thank you!

------

[Keynote] Event opening with the program comittee - 09 AM BRT / 1 PM (WEST)

------

[Vendor Tracks] Cat Buys (Payara) - When: 10 AM (BRT) // 2 PM (WEST)
[Vendor Tracks] Elder Moraes (Red Hat) - When: 10:15 AM (BRT) // 2:15 PM (WEST)

[2021-08-24 20:09] linkfang commented on #324
Hi @HailleySeed , please preview the changes here:
https://deploy-preview-326--jakartaee-jakartaone.netlify.app/2021/turkish/

Please note, I did not include "Thank you!" in the text, as I don't think it's part of the required content. Let me know if there is any issue, thanks!

[2021-08-24 20:17] linkfang commented on #324
Hi @HailleySeed ,
Do we want to add an image and description for Turkish livestream in this issue? On the [production site](https://jakartaone.org/), everything looks fine, but on preview site, the past event section doesn't look so well. But it will be good if we add an image and the description.
![image](https://user-images.githubusercontent.com/43075439/130683728-373f90e4-8e22-4b52-90fc-56f7256

[2021-08-24 21:01] HailleySeed commented on #324
Hi!
Yes, please add:

On August 21, 2021 over 170 Turkish speaking Java enthusiasts gathered to discuss current trends, technologies and challenges related to JakartaEE. This events was the first edition entirely in Turkish, supported by JakartaEE members and the Java community.
![JakartaOne Event Images](https://user-images.githubusercontent.com/85507137/130689256-fa8f407e-6af6-4e43-8aa0-3651271e

[2021-08-24 21:27] linkfang commented on #324
Cool, please preview the changes here:
https://deploy-preview-326--jakartaee-jakartaone.netlify.app/
https://deploy-preview-326--jakartaee-jakartaone.netlify.app/2021/turkish/

[2021-08-25 05:22] ecabrerar opened #327 "JakartaOne Hispano 2021 Agenda"
Adding agenda and confirmed speakers

[2021-08-25 13:24] HailleySeed commented on #324
Sorry, Shabnam just clarified and would like to change the last sentence. Sorry for the last minute change.

"On August 21, 2021 over 170 Turkish speaking Java enthusiasts gathered to discuss current trends, technologies and challenges related to JakartaEE. This events was the first edition entirely in Turkish, supported by Jakarta EE Working Group members."

Otherwise looks great, thank you!

[2021-08-25 14:43] linkfang commented on #324
No problem!

Please preview the new changes here:
https://deploy-preview-326--jakartaee-jakartaone.netlify.app/

And I think the word "events" in "This events was the" is a typo, so I changed it to "event".

[2021-08-25 15:07] HailleySeed commented on #324
+1

Thank you!

[2021-08-28 17:40] otaviojava commented on #325
@autumnfound could you check the Fabio Velloso's Company?
It's "Avalia Systems" of "Talkdesk"

[2021-08-28 17:57] kmacedovarela commented on #325
Hey @autumnfound the preview looks great! Thanks for that!

Here are the vendors who will join the event.

Each vendor will have a 15 minutes slot, but we don't have their talk titles yet.

Vendor: Payara
Speaker: Cat Buys
Picture: (We've requested the speaker, we'll update this Jira once I get it.)

Vendor: Red Hat
Speaker: Elder Moraes
Picture: (Already in your media library since he's in the we

[2021-08-30 03:26] kmacedovarela commented on #325
@autumnfound thank you for sharing the preview link, that helps us clarifying how to describe better the information you need. Please check the new information I added to main topic. Mostly, these were the changes:

1. Vendor tracks
2. Time for the program committee keynote
3. Proper description for each talk aligned to the options in the webpage (the three options in the page were: **Keynotes**,

[2021-08-30 13:10] autumnfound commented on #325
I've updated the preview https://deploy-preview-329--jakartaee-jakartaone.netlify.app/2021/portuguese/ with the new info. I've fixed Fabio's company, that was a fat finger on my part! I've also added the vendor sessions as well as the available images for vendor reps. I don't have confirmation of their current positions, so I put (Company Name) Representative as their position/title.

The talks se

[2021-08-30 14:20] HailleySeed opened #330 "Turkish Presentation Youtube Videos"
Hi! Can you please the final youtube uploads to the Turkish website? Thank you!

Opening
Altuğ B. Altıntaş, Hüseyin Akdoğan, Taner Diler
https://www.youtube.com/watch?v=Os8CHkb1c6M&list=PLutlXcN4EAwDLjU8vlAFnFm6ATE3YigwY&index=2&t=2s

Presentation JPA/Hibernate Practices and Tips
Kenan Sevindik
https://www.youtube.com/watch?v=llIGWirvxcs&list=PLutlXcN4EAwDLjU8vlAFnFm6ATE3YigwY&index=3

Presentatio

[2021-08-30 15:40] ecabrerar opened #331 "JakartaOne Hispano 2021 Community Partners"
In the comments, every partner will add their information to be added in the community partners section
[ do not close the ticket until the conference]
_Once the community partners add their logos, a pull request will be submitted ._

Instrucciones para añadir tu comunidad a la web, añade un comentario a este ticket con la informacion siguiente :

Community Name [community website link]
Logo (imag

[2021-08-30 15:56] autumnfound commented on #270
The question isn't about keeping/discarding the background, its more asking who is performing this effort, as there is a real cost to editing these images to be transparent PNG to support blue backgrounds, or to add a blue background to a flattened jpg. Will the design/marketing team be taking on this task for all events that wish to use that look and feel going forward?

There is also a bandwidth

[2021-08-30 19:42] autumnfound commented on #270
@meKokabi @shanda-eclipse I've gotten around to finishing up the preview of this, apologies! We got busy with REM, so this took a back burner. The Russian event is a good example of how this all looks together on a live page. Please take a look at the page there and let me know if you have any feedback!

[2021-08-30 19:48] autumnfound commented on #270
@meKokabi we will also need a fallback image for upcoming events without a set conference image, as well as conference images for the Spanish and Portuguese events. This is seen at the bottom of the page in the upcoming events section

[2021-08-30 19:51] chrisguindon commented on #270
I do find the orange text for the agenda hard to read. I recommend looking at increasing the font weight or picking a darker orange.

[2021-08-30 20:07] kmacedovarela commented on #325
Thanks for that.

It looks good in that way, we can keep it.

Ok. I'll translate the EN one to Portuguese and comment on the thread once it's done.
We'll work on translation from PT to EN.

I suggest we publish it once all the talks are in portuguese and we review the preview.

[2021-08-31 17:49] linkfang commented on #330
Hi @HailleySeed , please preview the changes here:
https://deploy-preview-332--jakartaee-jakartaone.netlify.app/2021/turkish/

[2021-08-31 17:54] HailleySeed commented on #330
That is great, thank you!
+1

[2021-09-01 13:32] HailleySeed commented on #330
Sorry I forgot to add, can you also please take out the "Register" and "Twitter" Buttons in the header and replace with the Jakarta Logo as you did for the Russian event?

Thank you!

[2021-09-01 13:35] HailleySeed opened #333 "JakartaOne Banner"
Hi!

Can you please change the website header from promoting the Turkish event to now promoting the Portuguese event?
https://jakartaone.org/

Thank you!

[2021-09-01 14:08] linkfang commented on #330
Hi @HailleySeed , please preview the new changes here:
https://deploy-preview-334--jakartaee-jakartaone.netlify.app/2021/turkish/

[2021-09-01 14:13] HailleySeed commented on #330
+1

[2021-09-01 14:14] #330 closed

[2021-09-02 15:07] linkfang commented on #333
Hi @HailleySeed .

Please preview the changes here:
https://deploy-preview-335--jakartaee-jakartaone.netlify.app/

[2021-09-03 07:17] otaviojava commented on #325
Hey @autumnfound
The Cat Buys (Payara) headshot
![Snapchat-1423069544](https://user-images.githubusercontent.com/863011/131965986-bfe20824-f290-4101-a51e-e353949c0e0e.jpg)

[2021-09-05 20:33] kmacedovarela commented on #325
Hey @autumnfound , sorry for the delay, You can find the three main talks now translated to portuguese and english. If there's anything missing please let me know.

[2021-09-07 12:47] ericpoirier commented on #270
+1

I would put this text black since bolded orange text seems to be used for titles only on this page.

[2021-09-07 12:56] meKokabi commented on #270
The Agenda is screenshot from the event page template.
On Tue, Sep 7, 2021 at 8:47 AM Eric Poirier ***@***.***>
wrote:

--

Mehrnaz Kokabi

Creative Lead | Eclipse Foundation
Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2021-09-07 13:00] meKokabi commented on #270
Right, Feel free to make required changes Eric!

[2021-09-07 17:38] #333 closed

[2021-09-07 17:53] autumnfound commented on #325
I've updated and it looks good to me! Same URLs as before, let me know if everything looks good and we can get it merged in

[2021-09-09 18:01] autumnfound commented on #270
Please see the above preview URL for the updates. I changed the session name text to the same darkblue as the rest of the table.

[2021-09-09 18:26] meKokabi commented on #270
Looks good to me! Thanks Martin!

On Thu, Sep 9, 2021 at 2:02 PM Martin Lowe ***@***.***> wrote:

[2021-09-10 12:30] otaviojava commented on #325
Everything is ok.
Please merge it.

[2021-09-10 12:47] #325 closed

[2021-09-10 18:50] shanda-eclipse commented on #270
I believe @shabnammayel will have to give the final sign-off on this one.

[2021-09-10 18:57] autumnfound commented on #270
The only thing missing for this to go live are images for the currently in progress events for the bottom section of the page where we link to other ongoing events. Right now we only have thumbnails for events in the past. Once we have that and +1 from @shabnammayel we can go live with this

[2021-09-10 19:20] shabnammayel commented on #270
Looks good to me too! great job!

[2021-09-20 14:28] autumnfound commented on #270
We currently need thumbnails for the following events:

- JakartaOne 2021
- Spanish 2021
- Portuguese 2021

[2021-09-20 14:30] meKokabi commented on #270
I will add them very shortly here

[2021-09-20 14:33] chrisguindon commented on #270
@meKokabi @shanda-eclipse,

We will now need these images for any future event under jakartaone.org. We will expect this to be provided when a new event is requested.

[2021-09-20 15:18] meKokabi commented on #270
Please find attached the JakartaOne 2021 images:
[Jakarta LiveStream 21.zip](https://github.com/jakartaee/jakartaone.org/files/7196739/Jakarta.LiveStream.21.zip)

[2021-09-21 13:23] autumnfound commented on #270
@meKokabi @chrisguindon I've updated the preview with those images. They aren't super impactful as they blend into the background of the section, but its better than a broken image. This should be the last little bit before we can look at launching the pages. I'd recommend we go over the active event pages with the committees for the given events before we do, just so we can make sure everything i

[2021-09-21 13:26] chrisguindon commented on #270
@meKokabi Is there a reason why we decided to change the styles of these images? I feel this is something we should be consistent with.

![Capture](https://user-images.githubusercontent.com/893942/134179012-32774702-b5c6-40d7-8e0d-d364b8aabfb4.PNG)
![Capture1](https://user-images.githubusercontent.com/893942/134179014-6c4892b6-ea5d-49c3-b716-ba7025ef7df4.PNG)

[2021-09-21 13:29] meKokabi commented on #270
I thought that template is too busy for small size image, but I can remake them with that style and resend them to you shortly.

[2021-09-21 13:40] autumnfound commented on #270
No need, I've updated the CSS to reflect the change. Nice and easy for me to do

[2021-09-21 13:46] meKokabi commented on #270
![A](https://user-images.githubusercontent.com/75500459/134182359-d1de74b8-0d25-4756-8204-45ca6b08a4af.jpg)
![B](https://user-images.githubusercontent.com/75500459/134182361-b14fc346-7150-4aad-918d-2a7f61af4953.jpg)
![C](https://user-images.githubusercontent.com/75500459/134182362-58399825-b7ea-44f3-845e-5ba7ee8a5a4b.jpg)

[2021-09-21 13:46] meKokabi commented on #270
@autumnfound Thanks for the offer, already done!

[2021-09-22 12:50] otaviojava opened #336 "Update Fabio Velloso Presentation"
In the Jakarta One Portuguese, could you, please, update the Fabio Vellos presentation title?

- Portuguese: De J2EE a Jakarta EE, história, cenário atual e o que está por vir
- English: From J2EE to Jakarta EE, history, present and what's to come

[2021-09-22 15:13] linkfang commented on #336
Hi @otaviojava ,
Please preview the changes here:
https://deploy-preview-337--jakartaee-jakartaone.netlify.app/2021/portuguese/

[2021-09-22 16:54] otaviojava commented on #336
it looks ok.
thank you.

[2021-09-22 16:55] #336 closed

[2021-09-24 12:44] autumnfound commented on #270
I've updated the preview site with the new images: https://deploy-preview-304--jakartaee-jakartaone.netlify.app/2021/russian/

[2021-09-24 13:13] meKokabi commented on #270
@autumnfound Thanks Martin, looks great to me, just one more request to enhance it. There is a tiny line on top of Spanish and Jakarta One image, I fixed them on google console as can be seen on screenshot.

<img width="1492" alt="Screen Shot 2021-09-24 at 9 06 58 AM" src="https://user-images.githubusercontent.com/75500459/134679682-2bb31242-d937-4b75-a650-9b5c4dbf2fc5.png">

Images link for updat

[2021-09-30 14:09] autumnfound commented on #270
We've pushed this live! This should be up in the next few minutes!

[2021-10-01 11:31] HailleySeed opened #339 "JakartaOne Livestream Portuguese Event Wrap Up"
Hi,

Can we please now conclude the Portuguese event webpage and add the following YouTube links:

Keynote: https://www.youtube.com/watch?v=rCC4Tv5eW3o&list=PLutlXcN4EAwCEsKLYLFPoE-EjnaBWj7oQ&index=1&t=178s

Vendor Track (Payara): https://www.youtube.com/watch?v=D0PWMSSUE_o&list=PLutlXcN4EAwCEsKLYLFPoE-EjnaBWj7oQ&index=2

Vendor Track (Red Hat):  https://www.youtube.com/watch?v=vtr-UpLwmc8&list=PL

[2021-10-01 18:26] HailleySeed opened #340 "JakartaOne Livestream 2021 Update"
Can you please remove the call for papers button on the Jakarta livestream webpage for dec event and change the text to:

"JakartaOne Livestream is a one-day virtual conference for developers and technical business leaders.

We bring insights into the current state and future of Jakarta™ EE and related technologies focused on developing cloud native Java applications.

Register today to connect wi

[2021-10-04 16:56] HailleySeed commented on #339
Sorry, the closing should read:

On September 29, 2021 over 260 Portuguese Java enthusiasts gathered to discuss current trends, technologies and challenges related to JakartaEE. This event was the second edition entirely in Portuguese, supported by JakartaEE members and the Java community

[2021-10-04 17:05] HailleySeed opened #341 "JakartaOne Spanish Event Wrap Up"
Hi,

Can we please now conclude the Spanish event webpage and add the following YouTube links:

WELCOME RECEPTION: https://www.youtube.com/watch?v=yen8XmmNZ4s&list=PLutlXcN4EAwCRzLMA8SE5On-QS39klYUn&index=1

VENDOR TALKS: https://www.youtube.com/watch?v=sbypdX4iro4&list=PLutlXcN4EAwCRzLMA8SE5On-QS39klYUn&index=2

MICROSERVICES AND JAKARTAEE - THE REALITY BEHIND THE MYTH: https://www.youtube.com/wa

[2021-10-04 21:00] linkfang commented on #340
Hi @HailleySeed ,

Please preview the changes here:
https://deploy-preview-342--jakartaee-jakartaone.netlify.app/2021/

Please note, I also deleted the "call for papers" button in jumbotron and changed the title for the description from "Calll For Papers" to "About the Event".
Let me know if this works for you. Thanks!

[2021-10-05 02:37] lasalazarr commented on #341
Hello; at the image of the cover is missing Eudris. @HailleySeed please use an image that all the team are in the screenshot.

Regards
Alberto

[2021-10-05 11:22] HailleySeed commented on #341
Hi @lasalazarr,

Yes here you are
![JakartaOne Event Images (2)](https://user-images.githubusercontent.com/85507137/136013492-8a7c86e1-9ab2-4823-8caf-060560063ab2.png)

Hailley

[2021-10-05 11:24] HailleySeed commented on #340
+1

Looks great, thank you @linkfang!

[2021-10-05 11:58] #340 closed

[2021-10-05 13:31] ecabrerar commented on #341
Hi @HailleySeed  the PR is ready for review
https://github.com/jakartaee/jakartaone.org/pull/343

[2021-10-05 13:48] HailleySeed commented on #341
Can you also please change the following:

- Remove: "CALL FOR PAPERS - NOW CLOSED"  ADD:  "THE EVENT HAS NOW CONCLUDED!"

- Remove: "JakartaOne Livestream is a one-day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta™ EE and related technologies focused on developing cloud native Java applications. This is the secon

[2021-10-05 14:31] ecabrerar commented on #341
@HailleySeed the change is already done!

[2021-10-05 16:06] HailleySeed commented on #339
Hi @linkfang,

Looks great, the only other thing- Can you please replace:
"JakartaOne Livestream is a one-day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta™ EE and related technologies focused on developing cloud native Java applications. This is the second edition of the event entirely in Portuguese.

The call fo

[2021-10-05 17:26] linkfang commented on #339
Cool!
Here is the updated version:
Portuguese 2021 page: https://deploy-preview-344--jakartaee-jakartaone.netlify.app/2021/portuguese/

By the way, do we need a Portuguese version of that concluded title and text content or an English version is good?

[2021-10-05 18:10] HailleySeed commented on #339
+1, looks great!
@otaviojava Can you please advise as to whether we need a Portuguese version or not.

Thanks!

[2021-10-05 18:28] otaviojava commented on #339
@HailleySeed that is fine.
We don't need it.

[2021-10-06 19:10] ecabrerar commented on #331
It is a great idea!

[2021-10-07 14:24] ericpoirier commented on #341
@HailleySeed can you give us the +1 to go ahead and merge the PR?

Preview: https://deploy-preview-343--jakartaee-jakartaone.netlify.app/2021/hispano/

[2021-10-07 18:40] aeiras commented on #339
Hola snuggly Otavio, @otaviojava!!!

Please share this ticket exchanges with Eudris on my feedback to the event with the awesome Committee.  https://github.com/jakartaee/jakartaone.org/issues/331
Each one of you will understand its importance. Own it, rock it & continue to be amazing!!!

[2021-10-08 17:43] HailleySeed opened #345 "JakartaOne Webpage"
Can we please change the header on https://jakartaone.org/ to feature the Livestream on December 7th and not the Portuguese event.

Thank you!

[2021-11-05 18:04] HailleySeed opened #349 "JakartaOne Speaker - Change"
Hi!

Can you please switch the following 2 sessions?
LOOK AT THESE MICROSERVICES! | Bruno Baptista | 6 am PT / 9 am ET / 15:00 CET
with
MICROPROFILE 4.1, 5.0 AND BEYOND |	Emily Jiang | 12 am PT / 3 pm ET / 21:00 CET

So Bruno will now be presenting at 3pm EST and Emily will be at 9am EST.

Thank you!

[2021-11-08 15:36] HailleySeed commented on #349
LGTM!

Thank you!

[2021-11-08 15:52] #349 closed

[2021-11-19 11:47] HailleySeed opened #352 "JakartaOne Livestream Update"
Hi,
Can we please update the legend with the following name changes:
Legend  Keynote;  Jakarta EE;  MicroProfile;  Panel
It should be
Legend  Keynote / Industry Keynote;  Jakarta EE;  MicroProfile;  Studio Jakarta EE

As for the legend colors,
the color for MP can be this pale yellow, Jakarta EE should be bright orange, Studio sessions maybe green, keynote blue

We also have the details for the st

[2021-11-22 16:06] linkfang commented on #352
Hi @HailleySeed ,

Please preview the changes here:
https://deploy-preview-353--jakartaee-jakartaone.netlify.app/2021/

And just to confirm, 11:45 am ET and 3:45 pm ET still don't have details, is this what we expect?

[2021-11-22 16:18] HailleySeed commented on #352
Sorry there were some changes to the schedule this morning, they are as follows:
8:45 am  PT / 11:45 am ET / 17:45 CET	Keynote	(Mike M)
9:05 am PT / 12:05 am ET / 18:05 CET	Industry Keynote	(Jakarta EE vendors)
9:55 am PT / 12:55 am ET / 18:55 CET	Studio Jakarta EE

As for 3:45PM EST - you are correct, we still do not have anything there yet.

Thank you!

[2021-11-22 17:04] linkfang commented on #352
Cool, please check the updates here:
https://deploy-preview-353--jakartaee-jakartaone.netlify.app/2021/

[2021-11-22 17:07] TanjaObradovic commented on #352
Can you please have a dot (indicating the type of the session) for opening and closing the same color? It is best to have it as Studio sessions color.

[2021-11-22 17:16] linkfang commented on #352
Sure, now they are both using Studio sessions color:
https://deploy-preview-353--jakartaee-jakartaone.netlify.app/2021/

[2021-11-22 17:18] TanjaObradovic commented on #352
Great! Thank you!!

[2021-11-22 17:23] HailleySeed commented on #352
LGTM! Thank you!

[2021-11-22 19:12] linkfang commented on #352
No problem! The changes should be live soon.

[2021-11-23 20:24] HailleySeed commented on #352
Hi @linkfang !

We have 2 changes:
1. we did not want to lose Studio Jakarta EE from the title, and we did not want to reveal speakers at all
2. the studio session 5 min at 9:55 am PT / 12:55 am ET / 18:55 CET should not be there at all

@TanjaObradovic is there anything else you want to be changed?

Thanks

[2021-11-23 20:29] TanjaObradovic commented on #352
We are expecting additional changes in the Studio Jakarta EE schedule, but I do not have that info yet.

[2021-11-24 14:18] linkfang commented on #352
Hi @TanjaObradovic , do we want to update what Hailley mentioned and make them live first or wait for additional changes and do them together?

[2021-11-24 16:00] TanjaObradovic commented on #352
here is the final update (I hope)
1. delete the studio session 5 min at 9:55 am PT / 12:55 am ET / 18:55 CET should not be there at all
2. please do the time relative to location of the viewer, so it is not as cluttered as it is now
3. all studio sessions should look like this (no time presented of course :) )

(5:45 am ET) Studio Jakarta EE: WELCOME RECEPTION

(6:45 am ET) Studio Jakarta EE: gues

[2021-11-24 17:17] TanjaObradovic commented on #352
and one more!
for  INDUSTRY KEYNOTE for Presenter name please have
Jakarta EE vendors:
IBM, Payara, Oracle, Tomitribe, Jelastic

[2021-11-25 16:01] linkfang commented on #352
Hi @TanjaObradovic ,

For showing the time relative to the user, as this is a relatively bigger change and we would like to do this in a more re-useable way so that we can apply it to all our websites.  And we are busy with membership portal site recently.

So, we might have to look into it later, like late Dec and might start to implement the solution in Jan. Created this [issue](https://gitlab.e

[2021-11-25 20:15] TanjaObradovic commented on #352
for sure it will! It  has to :)

[2021-11-26 14:10] TanjaObradovic commented on #352
please note I updated the  list above with

(10:45 am ET) Studio Jakarta EE: guests Dmitry Kornilov & Tomas Langer

[2021-11-26 19:28] HailleySeed commented on #352
Hi @linkfang!

I just realized 2 of the times are incorrect on the webpage!
Can you please change it to 12:05 **PM** and 12:55 **PM**

<img width="1207" alt="Screen Shot 2021-11-26 at 2 20 02 PM" src="https://user-images.githubusercontent.com/85507137/143623635-2bde9c66-8b11-421f-9fab-ea9ad1450d73.png">

Thank you!

[2021-11-29 14:12] linkfang commented on #352
OK, just a head up, will do an overall update today to reflect all our expected changes

[2021-11-29 17:37] linkfang commented on #352
Hi @HailleySeed @TanjaObradovic ,

Please preview the changes here:
https://deploy-preview-354--jakartaee-jakartaone.netlify.app/2021/

[2021-11-30 04:03] TanjaObradovic commented on #352
Please add Tanja Obradovic & Ivar Grimstad as Presenter Name for this Studio session as well

STUDIO JAKARTA EE (15 MIN) |   | 12:45 PT / 15:45 ET / 21:45 CET
 Other then that looks good

[2021-11-30 13:49] TanjaObradovic commented on #352
@linkfang is there a chance to make this live before 10 AM?

[2021-11-30 14:26] linkfang commented on #352
Here is the updated one:
https://deploy-preview-354--jakartaee-jakartaone.netlify.app/2021/

[2021-11-30 14:55] #352 closed

[2021-11-30 15:06] linkfang commented on #352
The changes are live!

[2021-11-30 15:18] TanjaObradovic commented on #352
Many thanks!

[2021-12-13 12:46] HailleySeed opened #355 "JakartaOne Livestream event wrap up"
Hi!

Can we please wrap up the webpage for https://jakartaone.org/2021/ to look the same as https://jakartaone.org/2020/.
But please have third annual in the text instead of second annual

Once I have the youtube links for the sessions I will add it to this bug.

Thank you!
Hailley

[2021-12-14 19:11] HailleySeed commented on #355
Here are the links to the Youtube videos: https://docs.google.com/spreadsheets/d/1O6R4ch4B4M1Jbrq0Tj-TlU7dQlW5BczPI-gAHtYfcp0/edit#gid=0

Thank you!

[2021-12-14 20:14] linkfang commented on #355
Cool!

Do we need to add a description for the event, like what we have for other past events?
![image](https://user-images.githubusercontent.com/43075439/146072567-2b6bb7f0-6bfa-40f1-bebc-3107f9f1b709.png)

[2021-12-14 20:27] linkfang commented on #355
Please preview the changes here:
https://deploy-preview-356--jakartaee-jakartaone.netlify.app/2021/

And for now the past events card for JakartaOne 2021 is empty:
https://deploy-preview-356--jakartaee-jakartaone.netlify.app/

[2021-12-15 14:50] linkfang commented on #355
Cool!

Please preview the changes here:

https://deploy-preview-356--jakartaee-jakartaone.netlify.app/

[2021-12-15 17:02] HailleySeed commented on #355
Do you mind please adding Livestream to the title please so it reads "JakartaOne Livestream 2021". In both the header and above the event description.

Other than that it looks good to me!

Thanks!

[2021-12-15 18:06] linkfang commented on #355
Not a problem!
Preview changes here:
https://deploy-preview-356--jakartaee-jakartaone.netlify.app/

[2021-12-15 18:13] HailleySeed commented on #355
+1

Thank you!

[2021-12-15 18:20] #355 closed

[2021-12-20 20:53] HailleySeed opened #357 "JakartaOne Livestream Link Updates"
Hi!

Can you please update the following links for YouTube as we had some video edits that needed to be done.

Closing: https://www.youtube.com/watch?v=cMSA0lUvJyE&ab_channel=JakartaEE
Kevin Session: https://www.youtube.com/watch?v=V1YFQSUls5Q&ab_channel=JakartaEE
Behind the Stream: https://www.youtube.com/watch?v=lJmE8vmadYM&ab_channel=JakartaEE

Thank you!
Hailley

[2021-12-21 14:03] autumnfound commented on #357
Hi @HailleySeed, I've updated the first two in my local, but I'm not sure what the third link is for. Could you give more context? Thanks!

[2021-12-21 14:58] HailleySeed commented on #357
Sorry, my bad - we did not include the last one on the website. I thought we had. So disregard the last link!

Thanks!

[2022-01-04 17:16] ericpoirier commented on #357
@HailleySeed please review the changes on the following staging page:

https://deploy-preview-359--jakartaee-jakartaone.netlify.app/2021/

Let us know if there's anything else to be changed.

Thanks.

[2022-01-04 18:14] HailleySeed commented on #357
+1

Thank you !

[2022-01-04 18:40] ericpoirier commented on #357
Merged! thanks.

[2022-01-04 18:40] #357 closed

[2022-03-04 14:15] TanjaObradovic opened #361 "Updating jakartaone.org landing page"
Can you please make the following changes:

1. under upcoming events please list
JakartaOne Livestream Portuguese, September 29, 2022
JakartaOne Livestream, December 6, 2022
![image](https://user-images.githubusercontent.com/40073121/156777268-5769271c-dcf3-4bd6-b193-ef6236168f79.png)

2. In the same part as above, can you please create a section on the right that and move this part (text and the

[2022-03-04 18:08] linkfang commented on #361
Hi @TanjaObradovic ,

Please preview the updates here:
https://deploy-preview-362--jakartaee-jakartaone.netlify.app/

And here are 2 changes that I would like to confirm with you:

1. For adding the upcoming events, as we don't have the actual content for those 2 events now, so I put a "Content coming soon" in the event detail page.

2. For moving the host livestream text and button. I find it mig

[2022-03-07 08:23] TanjaObradovic commented on #361
1. Looks great!

2. I like your suggestion, to leave it as it is now (two sections, not three), but can you please make bold this text "**host a JakartaOne Livestream in your language**" ?

[2022-03-07 14:59] linkfang commented on #361
Cool! Please preview the updates here:
https://deploy-preview-362--jakartaee-jakartaone.netlify.app/

2. I made the text bold.
3. I do see a preview picture on the video section. Can you maybe refresh the page? Sometimes, the preview image of YouTube video is a little sticky (need some time or a few refreshes to show up).
![image](https://user-images.githubusercontent.com/43075439/157058584-ac4431

[2022-03-16 15:08] linkfang commented on #361
Hi @TanjaObradovic , for the issue of preview image for YouTube video, Eric is working on a fix for it (improve the behaviour on all YouTube videos we use across our sites).
For now, it seems we have to accept the cookies and then refresh the page to be able to see the preview image.

Would you like to go live first and then add the fix later when it's done or wait for the fix and go live with it?

[2022-03-21 15:17] linkfang commented on #361
@TanjaObradovic , we now fixed the video preview picture issue, please let me know if everything looks good on your end, thanks!

https://deploy-preview-362--jakartaee-jakartaone.netlify.app/

[2022-03-21 15:27] TanjaObradovic commented on #361
looks great! thx!

[2022-03-21 20:43] #361 closed

[2022-03-21 20:47] linkfang commented on #361
NP! The change is now live!

[2022-04-06 15:23] JanWesterkamp-iJUG opened #364 "JakartaOne German"
If you are interested in organizing a JakartaOne Livestream conference in your region, please provide the following information:

1. **Organization (Optional):**
JakartaOne German live stream from the 2nd day of the [CloudLand](https://www.cloudland.org/en/home/) festival, organized by a Program Committee from [iJUG](https://www.ijug.eu/en/home/)

2. **Country to host the conference:**
Germany
(Ph

[2022-04-07 12:51] chrisguindon commented on #364
@shanda-eclipse Who should we involve in planning this event?

[2022-04-07 13:07] shanda-eclipse commented on #364
@Serina will take the lead on this. @TanjaObradovic and her are meeting about it next week.

[2022-04-07 13:12] chrisguindon commented on #364
Thanks, I will assign it to Shabnam for now.

If a website is needed from our side, please let us know when the content is ready.

[2022-04-13 12:38] shabnammayel commented on #364
Hi @JanWesterkamp-iJUG we have informed the MKT and Steering committee about the event day on June 7. We can move forward. Can you please share the email addresses of the program committee members over slack or via an email so our team can schedule a call for next week to discuss the next steps including tasks and timelines? It would be great if you can add the program committee to the German Slac

[2022-04-13 13:44] shabnammayel commented on #364
All good regarding the email addresses. Serina, our event specialist have reached out to you to set up the first meeting. thanks

[2022-04-21 18:16] TanjaObradovic commented on #364
@chrisguindon can you please add JakartaOne Livestream German to the https://jakartaone.org/ under UPCOMING EVENTS. As it is on June 30th, it should be listed first.

I expect @JanWesterkamp-iJUG to log an issue shortly on the need for the webpage for this event.

[2022-04-22 12:46] JanWesterkamp-iJUG opened #365 "JakartaOne German (Sub-)Web Site"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-22 12:50] TanjaObradovic commented on #365
@JanWesterkamp-iJUG please submit here, link to the CFP you plan to use, and also list all the program committee members. We also need to find a way for people to register for the event - or just link to the registration link you plan to use.

[2022-04-22 12:54] JanWesterkamp-iJUG commented on #365
As discussed yesterday, here the Feature Request regarding the JakartaOne German web site.

Details regarding the CfP link:
Link: https://shop.doag.org/events/cloudland/cfp/
Note: The focus (in German "Schwerpunkt") need to be "JakartaOne" to ensure it is assigend to the right stream.
At the moment it will be open until 2022-05-05T23:59:00 (Berlin)- but we might want to change that.

[2022-04-22 12:56] JanWesterkamp-iJUG commented on #364
Here it is: https://github.com/jakartaee/jakartaone.org/issues/365

[2022-04-22 13:10] chrisguindon commented on #364
@linkfang Can you add an upcoming event:

June 30, 2022 - JakartaOne Livestream German

We will need to "hack" the shortcode since that area typically update itself when we create a new website. We would like to start promoting the event now and since we need to translate the website from scratch, it will take a bit of time to spin up the new event page.

[2022-04-22 13:17] chrisguindon commented on #365
@TanjaObradovic I assume someone from the marketing team is responsible for creating the content of the event website with @JanWesterkamp-iJUG?

In the meanwhile, my team can start working on translating jakartaone.org into German. @JanWesterkamp-iJUG is this something you can help us do?

We need someone to provide an English version of these 2 files before we can get started:

- https://github.c

[2022-04-22 13:20] linkfang commented on #364
Or what about I do what we did for the existing 2 upcoming events?
They also don't have the website content yet, so the 2 pages for them are showing "CONTENT COMING SOON"

https://jakartaone.org/2022/portuguese/

[2022-04-22 13:30] chrisguindon commented on #364
I am fine with that solution!

@TanjaObradovic @JanWesterkamp-iJUG any issue with us creating a coming soon page while we all work on the JakartaOne Livestream German content?

[2022-04-25 17:56] linkfang commented on #364
Hi @TanjaObradovic @JanWesterkamp-iJUG , please preview the updates here:
https://deploy-preview-366--jakartaee-jakartaone.netlify.app/
https://deploy-preview-366--jakartaee-jakartaone.netlify.app/2022/german/

For the event image, as we don't have a specific one for German event now, so I used the same event image as JakartaOne Livestream 2022. I can update it later when we have one.

Let me know

[2022-04-25 20:08] otaviojava opened #367 "JakartaOne 2022 - Portuguese"
If you are interested in organizing a JakartaOne Livestream conference in your region, please provide the following information:

1. **Organization (Optional):**
Brazilian and Portuguese JUGs
2. **Country to host the conference:**
Portugal and Brazil (online)
3. **Targeted conference date:**
September 1,

Next, send us an email at events@jakarta.ee with the names of the individuals and an email ad

[2022-04-28 13:55] TanjaObradovic commented on #364
This all looks great!

Pease note that we have 2 issues for German Livestream: this one and https://github.com/jakartaee/jakartaone.org/issues/365; Some info is provided in #365.

Can we add Serina to all Livestream issues please? I could not find her GitHub id.

[2022-04-29 14:07] otaviojava commented on #367
@TanjaObradovic we have all of those in the previous:

https://jakartaone.org/2021/portuguese/

[2022-04-29 14:23] linkfang commented on #364
Hi @TanjaObradovic , are we pushing the coming soon page live first and update it later with the content in the other issue?
OR
do we wait until we have everything and push them live all together?

[2022-04-29 14:37] TanjaObradovic commented on #367
Great thanks!! @otaviojava

[2022-04-29 15:12] JanWesterkamp-iJUG commented on #364
I think we should do it the agile way - in iterations. But they should be correct every time.
@linkfang, is it possible to view the results of updates immediately, meaning is the site build automatically (at least to an accessible staging environment)?
That would help to see the changes of the i8n and makes it easy to correct errors.
But an English verison could go online without i8n now from my o

[2022-04-29 15:15] JanWesterkamp-iJUG commented on #365
@linkfang, as mentioned https://github.com/jakartaee/jakartaone.org/issues/364#issuecomment-1113433189 the link need to be fixed.

[2022-04-29 15:42] linkfang commented on #364
Hi @JanWesterkamp-iJUG ,

Sounds good! And for sure, we want to make sure the info is accurate and correct. 🙂

Yep, we do have a preview version and need to be reviewed before we push live. So, as you may notice, the changes we mentioned above is not live on prod. The preview will be available once we push new commit to the PR. For example, https://github.com/jakartaee/jakartaone.org/pull/366

@ch

[2022-04-29 16:02] chrisguindon commented on #364
I think of a good reason why some fields are missing. However, we welcome all patches that improve the translation/internalization of the jakartaone.org website.

 Except for English, all translations were contributed by members of our community!

There are 2 options here. You can upload the translations on this issue and we will add them to our projects. We also accept PR/MR.

[2022-04-29 17:13] JanWesterkamp-iJUG commented on #364
@linkfang, @chrisguindon: I created the i8n file and will try to push the PR - I think the readme need a little update regarding the process:
First I would have to clone the repo in github and push the new branch with the changes there, followed by a PR then. Because I have now write access, I can not directly push there, right?

On the other hand, here is the code for the translated de.toml file:

[2022-04-29 17:32] JanWesterkamp-iJUG commented on #365
@linkfang, @chrisguindon, regarding https://github.com/jakartaee/jakartaone.org/issues/364#issuecomment-1113541278 here is the PR for the German translation: https://github.com/jakartaee/jakartaone.org/pull/368

[2022-04-29 17:50] autumnfound commented on #365
@JanWesterkamp-iJUG looks good! That covers the JakartaOne specific page template text, thanks for the submission! We still need the base theme translated as @chrisguindon mentioned in his previous comment https://github.com/jakartaee/jakartaone.org/issues/365#issuecomment-1106505977, which I'm guessing is still in progress (its a bit bigger than this file after all). The reason we need this is fo

[2022-04-29 18:00] linkfang commented on #364
Cool, thanks @JanWesterkamp-iJUG !

Martin merged in your PR and I pulled it into my PR, please preview the page here:
https://deploy-preview-366--jakartaee-jakartaone.netlify.app/de/

Let me know if we are good to push this live, thanks!

[2022-04-29 18:06] linkfang opened #369 "Consider updating readme file to include how to add a new language"
As @JanWesterkamp-iJUG mentioned in this issue https://github.com/jakartaee/jakartaone.org/issues/364#issuecomment-1113541278, we should probably update the readme file to give instructions on how to add a language so that it will be easier and clearer for the community to add one.

[2022-05-04 13:18] JanWesterkamp-iJUG commented on #365
@chrisguindon & @linkfang, I updated the German translation in this PR: https://github.com/jakartaee/jakartaone.org/pull/370
The preview/staging environment is not available all the time, right? How long it will be?

I also translated the GitLab Hugo theme - I will try to push it there. If this is not working because of missing rights, how we to proceed then?

[2022-05-04 13:32] JanWesterkamp-iJUG commented on #365
Push to GitLab was not permitted - here is the content of the de.toml file of the Hugo theme repo:
`
[eclipse-foundation-text]
  other = "Eclipse Foundation"

[navbar-manage-cookies-label]
  other = "Cookies verwalten"

[navbar-edit-acccount-label]
  other = "Meinen Account bearbeiten"

[footer-foundation-about-us-text]
  other = "Über uns"

[footer-foundation-contact-us-text]
  other = "Kontaktie

[2022-05-04 13:52] linkfang commented on #365
Thanks @JanWesterkamp-iJUG !

The preview should be available all the time (or at least for a long time), for example, this is a PR created 9 months ago and the preview is still available. https://github.com/jakartaee/jakartaone.org/pull/319

Awesome, I will create an MR to add the translation for the base (hugo theme). And will update here when it's ready for preview.

[2022-05-04 14:41] TanjaObradovic commented on #364
Now that we have German translation, for https://deploy-preview-366--jakartaee-jakartaone.netlify.app/2022/german/ can we add CFP button and Program Committee and push that our as well?

[2022-05-04 15:14] JanWesterkamp-iJUG commented on #364
Nice, "some" links (but not all of them) like the one for this preview got converted from AsciiDoc to https://xn--deploy-preview-366jakartaee-jakartaone-on1x.netlify.app/de/ by GitHub (!).
Background: The JakartaOne German PC uses a private GitBHub repo with AsciiDoc content to sync and I puted the (correct) preview link there, but the result displayed on the GitHub site is changed! Strange & good

[2022-05-04 16:00] linkfang commented on #364
Sure, the changes on this preview is now live and I will add the CFP and Program Committee

[2022-05-04 18:47] linkfang commented on #365
Hi @TanjaObradovic , @JanWesterkamp-iJUG , for program committee section, to have a same style of [JakartaOne 2021](https://jakartaone.org/2021/#program-committee), we will need the following:
- Photo
- title
- twitter handle
- bio

Here is what it looks like with only names:
https://deploy-preview-372--jakartaee-jakartaone.netlify.app/2022/german/

They are not required items but I highly recomme

[2022-05-04 19:54] linkfang commented on #367
Hi @otaviojava , @TanjaObradovic , please preview the updated page here:
https://deploy-preview-373--jakartaee-jakartaone.netlify.app/2022/portuguese/

And I don't find "Bruno Novaes" in previous event, we only have "Bruno Baptista". So, can @otaviojava please provide the follow info of Bruno Novaes? Thanks!
- Photo
- title
- twitter handle
- bio

[2022-05-04 20:43] otaviojava commented on #367
Hey, @linkfang it is the same person :)
So, you can use the "Bruno Baptista" profile

[2022-05-05 15:50] chrisguindon commented on #365
@JanWesterkamp-iJUG in order to submit a PR, you must fork the repo. You will have access on the fork but not on this repo.

I included some documentation on how to contribute in the readme: https://github.com/jakartaee/jakartaone.org/#contributing

[2022-05-10 11:37] JanWesterkamp-iJUG commented on #365
@linkfang, @chrisguindon: The preview looks nice!

How do you want the data? Where should I put it?
I can add read access to our source GitHub repo - there all the current content is available in AsciiDoc documents. Small challence might be, that the content is in German (when not English content) ;-).
But I can help with that and it would help for further content, like the schedule, too.
Should I

[2022-05-10 13:53] chrisguindon commented on #365
@ericpoirier can you take a look at this when you have a moment and see if we have everything we need?

[2022-05-11 14:31] JanWesterkamp-iJUG commented on #365
[image.zip](https://github.com/jakartaee/jakartaone.org/files/8670750/image.zip)

@chrisguindon , @linkfang , @ericpoirier : I updated the images with normalized names.
There are two pictures of speakers included too, the one from Lars contains a special character  "ö" - is this a problem or can you handle it?

[2022-05-11 14:35] JanWesterkamp-iJUG commented on #365
@TanjaObradovic : We should update the Twitter handle to the new created one, instead of using the general Jakarta EE one, right? The JOLG one is the only one that the DOAG office could promote.

[2022-05-11 14:37] JanWesterkamp-iJUG commented on #365
May be, we should need to add a note to the CfP-Link, that the topic (DE: Schwerpunkt) need to be "JakartaOne" only.

[2022-05-11 14:38] JanWesterkamp-iJUG commented on #365
And much important: We need to have the current preview being public ASAP! ;-)

[2022-05-11 14:41] TanjaObradovic commented on #365
+ @shabnammayel for input regarding twitter handle

[2022-05-11 15:07] ericpoirier commented on #365
@chrisguindon @JanWesterkamp-iJUG I looked at the .adoc provided and it is missing the Job Title for each Program Committee members. Other then that, it seems to have everything else we need to create a page similar to [JakartaOne 2021](https://jakartaone.org/2021/#program-committee).

[2022-05-11 15:44] ericpoirier commented on #365
Correct. Those links are the same throughout the site.

[2022-05-11 16:20] ericpoirier commented on #365
@shabnammayel @TanjaObradovic @JanWesterkamp-iJUG I updated the preview page to add the images and committee descriptions.

https://deploy-preview-372--jakartaee-jakartaone.netlify.app/2022/german/

Let me know if there's anything else.

[2022-05-11 16:32] JanWesterkamp-iJUG commented on #365
@ericpoirier : Many thanks! I found some small things:
Falks description is the German one on all the languages (English & German).
The rest of us has only the English version on all the choosen languages (English & German).
Will there be different languages for the content possible?

Can we have an alphabetical order for the PC members? It would bring the woman to the top too.

I will collect the

[2022-05-11 17:19] shabnammayel commented on #365
We used to have an event description on the page @ericpoirier: JakartaOne Livestream is a one day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta EE and related technologies focused on developing cloud native technologies for enterprise Java applications.

Did we use to have it in the section that says: more content

[2022-05-11 17:24] ericpoirier commented on #365
+1

+1

The title will show up one the home page: https://jakartaone.org/2021/#program-committee

[2022-05-11 17:33] ericpoirier commented on #365
@JanWesterkamp-iJUG I updated the order and also fixed the content where the language was not at the right place.

https://deploy-preview-372--jakartaee-jakartaone.netlify.app/2022/german/

Let me know if there's anything else.

[2022-05-11 17:35] JanWesterkamp-iJUG commented on #365
@shabnammayel , @SESALIBI We should update the text tomorrow in our meeting and I will provide a translation for that afterwards. But until then we can proceed with this English version (for both languages) from my side to get the site public (with the fixes mentioned above) now.

[2022-05-12 12:39] shabnammayel commented on #365
+1 are we good to go live with the changes for now? @JanWesterkamp-iJUG LGTM!

[2022-05-12 14:04] JanWesterkamp-iJUG commented on #365
@ericpoirier As discussed looks good to me too!
The rest could be done in further iterations :-)

[2022-05-12 17:21] ericpoirier commented on #365
@shabnammayel @JanWesterkamp-iJUG the page is now live on production.

https://jakartaone.org/2022/german/

Let me know if there's anything else.

Thanks.

[2022-05-16 07:11] laliwa opened #376 "JakartaOne 2022 - Chinese"
If you are interested in organizing a JakartaOne Livestream conference in your region, please provide the following information:

1. **JakartaOne Livestream China Committee:**
Jakarta EE Community China with members as follows:
Eric from Primeton(WG member)
Wang Feng from Asia Info(WG member)
Emily from IBM
Chen Jin
Li Lei
Ice

2. **Country to host the conference:**
China

3. **Targeted conference

[2022-05-16 12:57] linkfang commented on #367
Hi @otaviojava , just would like to confirm if this is still on your radar as we need your +1 to push the changes live :)

[2022-05-16 22:28] otaviojava commented on #367
@linkfang :+1:

[2022-05-17 13:15] linkfang commented on #376
Hi @TanjaObradovic , @shabnammayel , @SESALIBI , please let me know when the content is confirmed and ready, thanks!

[2022-05-17 14:12] JanWesterkamp-iJUG commented on #365
@ericpoirier , @chrisguindon Can you please update the page regaring this texts for the event description and the CfP button:

Event Description:

EN:
JakartaOne Livestream is a one day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta EE and related technologies focused on developing cloud native technologies for ent

[2022-05-17 14:15] JanWesterkamp-iJUG commented on #365
One question regarding the title: Will there be an English and German version of the title of the PC and later the speakers in the website possible or needed?

[2022-05-17 14:59] SESALIBI commented on #376
@linkfang this is a new submission. I will speak to Tanja and Shabnam at our next meeting on thursday and get back to you with next steps

[2022-05-17 15:06] linkfang commented on #376
Sounds good! Thanks!

[2022-05-17 16:26] linkfang commented on #365
Hi @JanWesterkamp-iJUG , please preview the updated content here:

https://deploy-preview-377--jakartaee-jakartaone.netlify.app/2022/german/
https://deploy-preview-377--jakartaee-jakartaone.netlify.app/2022/german/

And good catch on the JakrataOne. I also fixed it.

@TanjaObradovic , @shabnammayel , we have been using "Jakarta One" for all locale JakartaOne event. Let me know if we would like to

[2022-05-17 17:03] JanWesterkamp-iJUG commented on #365
@linkfang Looks good in general, but I found two things:

- the links in the German version referencing the English target website - but should German version too
- can we have the CfP note (DE: Hinweis) below the button "Submit a Proposal"?

The last one is some kind of cosmetic, for shure but separates the parts that will remain and being removed, when the CfP is closed too. If that is too compl

[2022-05-17 18:10] linkfang commented on #365
@JanWesterkamp-iJUG , sounds good! I fixed the links and moved the note text below the button. Please preview here:

https://deploy-preview-377--jakartaee-jakartaone.netlify.app/2022/german/
https://deploy-preview-377--jakartaee-jakartaone.netlify.app/de/2022/german/

And I forgot to ask in previous comment,
- Can you please provide German version of "About the event" and "Submit a Proposal"?
- I

[2022-05-17 19:20] JanWesterkamp-iJUG commented on #365
@linkfang Looks great!
Yes, in German we start quotation marks low and end high - don't ask me why (it must be form the time of handwriting where additional characters doesn't mater) ;-)

Regarding the translation - did I missed some i8n?
EN: "About the event" = DE: "Über die Veranstaltung"
EN: "Submit a Proposal" = DE: "Einen Vorschlag einreichen"

[2022-05-17 19:28] linkfang commented on #365
lol. Cool! Just would like to make sure it supposed to be like that. And 1 more interesting fact got!

No, these 2 are extra content we added along with the descriptions, so they are not included in the i8n you did.

Please preview the updated version here:
https://deploy-preview-377--jakartaee-jakartaone.netlify.app/de/2022/german/

[2022-05-17 19:56] JanWesterkamp-iJUG commented on #365
I found another issue, i missed before:
On the English version, the link on the buttons "Call for Papers" and "Submit a Proposal" using the German target page, but it should use the English traget instead: https://en.shop.doag.org/events/cloudland/cfp

Sorry, I just figured out, that with this configuration, the English user does not have to switch the language - this gives a smother user experien

[2022-05-17 20:04] linkfang commented on #365
@JanWesterkamp-iJUG , no worries!

Updated the link for en version, please preview here:

https://deploy-preview-377--jakartaee-jakartaone.netlify.app/2022/german/

[2022-05-17 20:12] JanWesterkamp-iJUG commented on #365
@linkfang Perfect! This version should become public now!

[2022-05-18 16:56] JanWesterkamp-iJUG commented on #364
@melissajacobus I thougt the format of a local JakartaOne, like this German one, is to use the local language (preferred). However, the CfP is open for English and German.
It would be very nice to have somebody from Oracle joining the event, for example giving an introduction to Helidon in the vendor track. I have some German speaking people in mind being able to do that in German also...

[2022-05-18 18:59] linkfang commented on #367
The changes are live now!

[2022-05-19 12:24] SESALIBI commented on #376
@laliwa Thank you for your submission. We will be in touch with you early next week with further details.

[2022-05-20 08:43] Jadonblade commented on #364
[@JanWesterkamp-iJUG](https://github.com/JanWesterkamp-iJUG) Steve Millidge is keen to give a Payara Vendor keynote, but would only be able to do so in English. Glad to see the CfP is open to both English and German (with German preferred).

[2022-05-22 04:05] otaviojava commented on #367
Great!
@linkfang
About my profile could you update to only "Software Engineer & Architect " instead of "distinguished engineer at Zup"

[2022-05-24 18:57] linkfang commented on #367
Sure, please preview the update here:

https://deploy-preview-378--jakartaee-jakartaone.netlify.app/2022/portuguese/
https://deploy-preview-378--jakartaee-jakartaone.netlify.app/pt/2022/portuguese/

[2022-05-24 19:39] SESALIBI commented on #367
Looks good to me!

Serina

On Tue, May 24, 2022 at 2:58 PM Zhou Fang ***@***.***> wrote:

--

Serina El Salibi

Virtual Event Specialist | Eclipse Foundation, Inc.

Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2022-05-25 05:41] otaviojava commented on #367
@linkfang, thank you.

[2022-05-25 13:12] linkfang commented on #367
NP! The change is now live!

[2022-05-25 17:53] JanWesterkamp-iJUG commented on #365
@linkfang , can we add the registration button to the site please?
The German link will be: https://shop.doag.org/events/cloudland/shop/
The English link is: https://en.shop.doag.org/events/cloudland/shop/
I would like to add a description below it, is that possible and what will be the usual English test for the JakartaOne on that button?

[2022-05-25 19:03] JanWesterkamp-iJUG commented on #365
Finally, we have titles in German and English for the Program Comittee members to be added too ;-)

Susanne Braun:
DE: JUG Kaiserslautern und iJUG CyberLand
EN: JUG Kaiserslautern and iJUG CyberLand

Hendrik Ebbers:
DE: JUG Dortmund, iJUG CyberLand und iJUG Vertreter in der Adoptium Arbeitsgruppe
EN: JUG Dortmund, iJUG CyberLand and iJUG Delegate in the Adoptium Working Group

Markus Karg:
DE: JUG

[2022-05-25 19:28] JanWesterkamp-iJUG commented on #365
The next step would be to add the basic schedule - will this be bilingual too?
What details necessary?
We will have sessions from 9:45-18:00 in our local time zone (CEST).
Regular sessions will start on the full hour and will have a duration of 45 minutes - with one exception: The keynote at 14:00 will have a duration of 50 minutes.
Surounding these and in between there will be "CN4J Studio" short

[2022-05-25 19:37] JanWesterkamp-iJUG commented on #365
Speakers for the CN4J Studio sessions are Hendrik and myself (Jan) at the moment. We have nearly complete data for the first (10:00 - 10:45) session (Lars) and the keynote (14:00 - 14:50 by Emily) available - only the titles are missing, because there is no field like that in the DOAG system yet. We add that information in our GitHub too.

[2022-05-26 18:21] SESALIBI commented on #365
@linkfang +1 you may start implementing the changes.

@JanWesterkamp-iJUG I believe having the schedule in both english and german however @shabnammayel is this a requirement? I know we ask to have it in th elanguage it's being hosted but don't see it being a requirement to have it in english as well.

[2022-05-26 21:20] linkfang commented on #365
Hi @JanWesterkamp-iJUG , pleaes preview the update here:
https://deploy-preview-379--jakartaee-jakartaone.netlify.app/2022/german/#plan-of-the-day

And for the agenda section, I put all the info I can get from CloudLand [lineup](https://en.shop.doag.org/events/cloudland/2022/agenda/#eventDay.1656540000). Most of them don't have a specific title, speakers, type, and abstract.

Here is what we norma

[2022-05-30 14:20] SESALIBI commented on #365
@JanWesterkamp-iJUG will you be adding speakers & vendor talks as well?

[2022-05-30 15:16] JanWesterkamp-iJUG commented on #365
@SESALIBI I expected you let add a complete example with the speaker details - they will b e in one language too? Are the vendor talks complete now and have they all added their data in the CfP tool - I can not find them there!

We really need to have some progress here - the requested changes did not published yet...

[2022-05-30 15:22] JanWesterkamp-iJUG commented on #365
@linkfang I can give you access to our GitHub project and there all the information is available - but I did not know, that you are using a JSON representation for the schedule - we hava an AsciiDoc table for it. Will that be useful for you? Do you have an example with the speaker and related links available?

[2022-05-30 15:27] linkfang commented on #365
Sure, as long as it contains the info I mentioned, it would help.

Here it is,
Speakers yaml file: https://github.com/jakartaee/jakartaone.org/blob/master/data/en/2021/turkish/speakers.yml
The page for it: https://jakartaone.org/2021/turkish/#speakers

[2022-05-30 15:37] JanWesterkamp-iJUG commented on #365
@linkfang Some small findings in the current preview:
German version:

- The register button is missing on the top level of the site (next to the CfP button)
- The "Register" button label need to be translated to "Registrieren"
- There are two quotation marks at the end of the titel of Hendrik Ebbers, which need to be removed

There are link symbols added to the schedule - but they are not working

[2022-05-30 15:46] JanWesterkamp-iJUG commented on #365
@linkfang

@linkfang I added you to our repo - the relevant information regarding the schedule is here int the Programm (German for program/schedule): https://github.com/ijug-ev/jakartaone-german/blob/main/Programm.adoc

[2022-05-30 15:56] JanWesterkamp-iJUG commented on #365
@linkfang  I think I understand your data a little bit better and we can improve the colaboration with PRs later, when the current preview gets public. Can you fix the small issues mentioned above - then I can create a PR to fill the schedule.

[2022-05-30 16:06] linkfang commented on #365
@JanWesterkamp-iJUG sounds good! Fixed them (including the link symbol for abstract). Can you please take another look at it?

https://deploy-preview-379--jakartaee-jakartaone.netlify.app/2022/german/
https://deploy-preview-379--jakartaee-jakartaone.netlify.app/de/2022/german/

[2022-05-30 17:04] JanWesterkamp-iJUG commented on #365
@linkfang that looks great to me! That should become public!

[2022-05-30 17:24] SESALIBI commented on #365
@JanWesterkamp-iJUG the deadline for CFp shows May 27, will you be pushing this date out or are the CFP closed? if it got pushed we should update the date and if its closed  perhaps indicate it by adding the CFP deadline was May 27th and is now officially closed.

Aside from this i clicked on all the links and they seem to be working both in english and german.  +1 @linkfang to publish the agenda.

[2022-05-30 17:27] SESALIBI commented on #365
@JanWesterkamp-iJUG is the CFP closed? Can we add a line that states the deadline was may 27 and is now officially closed? if the date got extended can we have that date reflected?

everything else looks good to me as well +1 for the agenda items we can have that published. I clicked on all the links and they seem to be resolving accrodingly.

[2022-05-30 17:30] JanWesterkamp-iJUG commented on #365
@linkfang & @SESALIBI Let's publish the old date now - we need to update this for sure, but I have to check with the PC when we want to close it officially - inofficially the link should still work, so the marketing can make sure, the vendors submit their data soon.

[2022-05-30 17:32] SESALIBI commented on #365
@JanWesterkamp-iJUG ok, can we get that new date by this thursday at our next meeting?

@linkfang kindly proceed to publish

[2022-05-30 17:32] linkfang commented on #365
Cool, the changes (agenda and register button) are live!

[2022-05-30 17:35] JanWesterkamp-iJUG commented on #365
@shabnammayel and @TanjaObradovic can you ensure the vendor track speakers submit their data via the CfP link? It's not only for us having the data available for the schedule (on both websites), it's for being legally allowed to do that... ;-)

[2022-05-30 18:08] SESALIBI commented on #365
@JanWesterkamp-iJUG We will send an email to the vendors briefly explaining that they need to submit their  talks and register for the event.

[2022-05-30 18:39] JanWesterkamp-iJUG commented on #365
@SESALIBI I think a field in the table would be a good idea - but at the end you can insert it into the speaker.yml of the site directly, i.e.:

`  - name: "Steve Millidge"
    title: "Founder of Payara Services Limited"
    img: "steve_millidge.png"`

It is only used by the JakartaOne site.

However, forwarding that information to the PC would be helpful, so we are able to add that information to

[2022-05-30 18:42] JanWesterkamp-iJUG commented on #365
@linkfang Thanks for updating the site - here is another update with the CN4J Studio sessions: https://github.com/jakartaee/jakartaone.org/pull/380

Can you insert them too, please?

[2022-05-30 19:19] SESALIBI commented on #365
We already have their details, do you need them for the cloudland site?

[2022-05-30 19:24] JanWesterkamp-iJUG commented on #365
@SESALIBI they need to be registered in the DOAG system with a profile and with their session - by doing that, they need to agree on the legal aspects too and this is a legal requirement (some might have a profile there already too).

[2022-05-30 19:38] JanWesterkamp-iJUG commented on #365
@linkfang another small finding: In the English version, there is a formatting issue with the sourounding box of the PC members box (including the title with different lenght) now - the boxes have different hights.
Only the English version is affected - the German version looks quite nice.
Do you have any idea?

[2022-05-30 21:20] linkfang commented on #365
@JanWesterkamp-iJUG they look good to me. Does refreshing the page work? The 2 languages version are doing the same thing for this part, so they should look the same.

![image](https://user-images.githubusercontent.com/43075439/171059972-5a745cd8-8782-47aa-8610-7610949c2ae1.png)

[2022-05-31 13:43] JanWesterkamp-iJUG commented on #365
@SESALIBI, @shabnammayel and @TanjaObradovic: One important thing we need to know too: Are the speakers & guests a joining in person or remote only! This is important for the order and where on the agenda we place the vendor track/industry keynote. Is there a prefered name for the last from your side?

And for the "titel" we need a German and English version at best - I can help translating this,

[2022-05-31 13:44] JanWesterkamp-iJUG commented on #365
Interesting - when swiching between them for a while the issue is gone away (I am using FF 100.0.2) - I think this is cosmetic and we can ignore that for now.

[2022-05-31 13:46] SESALIBI commented on #365
@JanWesterkamp-iJUG an email was sent out requesting all vendors to complete both CFP , registrations and to provide they title content. What they provide can be used for both languages in my opinion if they can't be translated.

[2022-05-31 14:15] JanWesterkamp-iJUG commented on #365
@linkfang Thanks for your additional fix!
This can go to public from my perspective.

I can create a new PR with the updates but can you add a speaker.yml example, may be in another change? The pictures of Lars and Emily should be included in the ZIP-file of the PC members pictures already or can be pulled in our GitHub repo here (https://github.com/ijug-ev/jakartaone-german/tree/main/image) or on

[2022-06-01 14:19] JanWesterkamp-iJUG commented on #365
@linkfang can we release the current version, then i can create an update for it soon?

[2022-06-01 14:32] linkfang commented on #365
@JanWesterkamp-iJUG sure, it's merged and should be live soon.

For adding speakers, I will add the code in md file, so you would only need to add details to the yml files.

Here is an example of an existing event:
https://github.com/jakartaee/jakartaone.org/blob/master/data/en/2021/default/speakers.yml
bio and twitter handle is optional.

In our case, we would need to add` speakers.yml` to `/data

[2022-06-08 06:09] laliwa commented on #376
Hi, @SESALIBI, is there anything new about the progress, is there anything else should I do to promote this?

[2022-06-08 14:29] SESALIBI commented on #376
@laliwa Lets set up our first meeting together next week or the week after which ever is most convenient for you and the committee.  If you can send me the names and email address I will set that initial call and we can go through the following document together and confirm the actual event date with you.

[2022-06-15 18:01] SESALIBI commented on #376
@laliwa New date has been confirmed for August 31st, 2022.
Kindly send us an email to events@jakarta.ee with the names and email address of all the members that should be included in the bi-weekly meetings and add them to our slack channel.

[2022-06-21 13:26] ericpoirier commented on #365
Sounds good, thanks for the clarification.

[2022-06-21 14:34] #364 closed

[2022-06-23 13:02] kazumura opened #385 "JakartaOne Japan"
1. **Organization (Optional):**

Jakarta EE Members in Japan

2. **Country to host the conference:**

Japan

3. **Targeted conference date:**

Sep 16, 2022

Next, send us an email at events@jakarta.ee with the names of individuals and an email address. EF team will reach out to you for the next steps

[2022-06-27 17:21] TanjaObradovic commented on #365
Can we remove Call For Paper  button
![image](https://user-images.githubusercontent.com/40073121/175998793-3a9f5e3f-aa4b-4381-9417-2e6f00fce3fe.png)

as well as Submit a Proposal

![image](https://user-images.githubusercontent.com/40073121/175998979-72ac3622-a09c-4d73-a119-af6647c07284.png)

[2022-06-27 17:24] ericpoirier commented on #365
@ZacharySabourin can you look at removing these buttons?

Thanks.

[2022-06-29 11:32] shabnammayel commented on #385
@kazumura we have received the names of the program committee Yoshio Terada,
　Takashi Ito,
　Hirofumi Iwasaki
　Takakiyo Tanak
　Yuichi Kusano, can you please provide their job title and pictures? @ericpoirier please let Kenji know if we need more content or information to make the page live. thanks

[2022-06-29 13:10] ZacharySabourin commented on #365
@TanjaObradovic The most recent changes should be in this preview: https://deploy-preview-389--jakartaee-jakartaone.netlify.app/2022/german/

[2022-06-29 13:39] ZacharySabourin commented on #365
It's been merged and should be live soon

[2022-06-29 14:15] ZacharySabourin commented on #385
@kazumura @shabnammayel The new page should be available for preview here: https://deploy-preview-390--jakartaee-jakartaone.netlify.app/2022/japan/

[2022-06-29 14:22] kazumura commented on #385
@ZacharySabourin Thanks ! Looks good.

[2022-07-05 14:24] shabnammayel commented on #376
@laliwa can you please share the page with the updated content that you shared in our meeting on Thursday here so that @ericpoirier can start working on creating the Chinese JakartaOne page?

[2022-07-05 15:35] shabnammayel commented on #385
@kazumura to promote the event further, can you please submit the Japan JakartaOne Livestream to Jakarta's event page? here is the link to add the details: https://newsroom.eclipse.org/node/add/events

[2022-07-05 15:36] shabnammayel commented on #367
@otaviojava to promote the event further, can you please submit the Portuguese JakartaOne Livestream to Jakarta's event page? here is the link to add the details: https://newsroom.eclipse.org/node/add/events

[2022-07-05 20:22] otaviojava commented on #367
@shabnammayel done.

[2022-07-11 13:03] ericpoirier commented on #376
@laliwa any news on when we should expect to get the updated content? Thanks.

/CC @shabnammayel

[2022-07-11 15:37] SESALIBI commented on #376
@ericpoirier +1 you can start working on creating the chinese Jakartaone page. Has @laliwa sent you everything you need for this?

[2022-07-11 17:20] ericpoirier commented on #376
@SESALIBI I don't think we've recieved the content so far.

[2022-07-11 17:43] SESALIBI commented on #365
@JanWesterkamp-iJUG Hope the event was a success :) I was wondering when will you be able to provide us with the stats ( registration, attendee #'s etc. )and  the event recordings so we can share it with the community? Also just a quick follow up on the jakata EE 10 messaging, could you kindly send us the translation as well? I will send this via email as well just in case.

[2022-07-11 19:18] SESALIBI commented on #367
@otaviojava Are we still aiming for CFP to take place mid - July (next week)? Also, I saw a note regarding art. can you kindly clarify what you are referencing in specific for this just so I can assist  better. Thanks

[2022-07-11 19:21] SESALIBI commented on #385
Hi @kazumura  just an update that im back from vacation as of today and will be looking into the pre -recordings in combo with the live functionality in crowdcast.  on a separate note can you complete the request to add your event to the Jakarta's event page  please and confirm once that is completed.

[2022-07-11 20:12] otaviojava commented on #367
Hello, @SESALIBI we have a google doc ready to publish.
Just left the art upgrade.
I believe until tomorrow we'll have this.

[2022-07-12 10:52] kazumura commented on #385
Done.

https://newsroom.eclipse.org/events/jakartaone-livestream-japan-0

[2022-07-12 15:10] SESALIBI commented on #367
Hi Otavio, You will be receiving an email that has the social kit posts, artwork made up in canva and your new login credentials to access both your gmail and canva account. Please confirm once you received it. Also note that once you login to canva you can make any updates to the actual art work as well. I made the date changes.

[2022-07-12 19:14] otaviojava commented on #367
@SESALIBI The link of C4P: https://forms.gle/e5xrvX6N2MpNaNJMA

[2022-07-14 12:55] ZacharySabourin commented on #367
@SESALIBI Apologies for the delay, we are currently on our All-Hands week. Is there a due date for this? If not, we will be able to get to it on Monday

[2022-07-14 13:02] SESALIBI commented on #367
@ZacharySabourin Yes thats no problem monday works. thank you again.

[2022-07-15 12:46] ZacharySabourin commented on #367
Hey @SESALIBI! A preview of the requested changes should be available here: https://deploy-preview-394--jakartaee-jakartaone.netlify.app/2022/portuguese/

[2022-07-15 14:59] SESALIBI commented on #367
Thank you so much @ZacharySabourin !

[2022-07-18 18:21] SESALIBI commented on #376
@laliwa Thank you again for taking our call last week.  Can you please upload all the necessary details for the website content by the end of this week? We need to get this up and running on the jakartaone.org site as soon as possible as the event is next month and we are hosting 2 additional jakartaone languages that also require updates. kindly confirm that this is all in the works please.
 @ecl

[2022-07-19 13:54] otaviojava commented on #367
Nice, thanks.
I'll start to promote it next Monday :)

[2022-07-19 13:58] laliwa commented on #376
Thanks a lot to @SESALIBI. For now, we have already forked the code from https://github.com/jakartaee/jakartaone.org and made our own pages taking https://jakartaone.org/2022/german/  and https://jakartaone.org/2022/portuguese/ as examples.
So what we need, if I may, is someone to do me the favor by giving me (https://github.com/laliwa) the permission to create PR and merge my code,so we can updat

[2022-07-19 14:33] chrisguindon commented on #376
@laliwa You don't need any special permission to submit a PR. You should be able to do that now with your current access. My team should be able to see PR that you submit and review them. They can merge them if all is well

What am I missing here?

[2022-07-20 14:56] kazumura commented on #385
@SESALIBI
Do we really need to change ?
We already had the event called "JakartaOne Japan" in 2020.
Also we have twitter account which describes "JakartaOne Livestream Japan"
https://twitter.com/JakartaOneJPN

[2022-07-20 15:16] chrisguindon commented on #385
@SESALIBI

I agree with @kazumura, I don't see the reason to change the name, Can you elaborate on why we would want to change it to Japanese?

[2022-07-20 15:46] SESALIBI commented on #376
@laliwa when can we expect the website to be updated? is there anything you need from Chris at our webdev team?

[2022-07-20 16:31] JanWesterkamp-iJUG commented on #365
@shabnammayel profided me a Google folder to provide the recordings.
Are there any requirements regarding the file names and resolutions for youtube?
The following MP4 resolutions are available: 1080p, 720p, 540p, 360p and 240p
When the videos uploaded to Youtube, you will link them into the schedule?

[2022-07-22 14:21] SESALIBI commented on #385
@kazumura & @autumnfound & @ZacharySabourin we will keep the naming as is. thanks

[2022-07-22 14:27] SESALIBI commented on #376
@laliwa  My apologies in advance for continuously pushing for an update but its important that we receive one by Monday.

[2022-07-25 16:22] SESALIBI commented on #385
@autumnfound  and @ZacharySabourin I received the below note from @kazumura. Can you look into this for him and let us know if he has the right permissions to gain access.

"I become a member of 'jakartaone-community' GitHub team (https://github.com/orgs/jakartaee/teams/jakartaone-community).
but I do not still have a write permission to the repositry.
For example I cannot merge PR #395 (https://g

[2022-07-25 16:41] chrisguindon commented on #385
@SESALIBI I merge the PR 3 hours ago! See https://github.com/jakartaee/jakartaone.org/pull/395

[2022-07-25 17:55] SESALIBI commented on #385
Amazing thank you so much.

Serina

On Mon, Jul 25, 2022 at 12:42 PM Christopher Guindon <
***@***.***> wrote:

--

Serina El Salibi

Virtual Event Specialist | Eclipse Foundation, Inc.

Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2022-07-25 22:16] kazumura commented on #385
@chrisguindon
Thanks for PR https://github.com/jakartaee/jakartaone.org/pull/395 .
But it is one of examples.
Because of timezone differences between us, I asked to have a write permission to the repository.
Although I become a member of 'jakartaone-community' GitHub team, I do not still have a write permission to the repository.

[2022-07-25 22:51] chrisguindon commented on #385
The jakartaone-community team allows members of the community to triage issues. It does not grant write access.

@kazumura I've granted you write access to the repository.

[2022-07-25 23:18] kazumura commented on #385
@chrisguindon  Thanks a lot.

[2022-07-26 13:47] autumnfound commented on #376
@laliwa please let us know what you need to unblock you. You should be able to make a PR and we can merge it in once we review it. If you are unable to create the PR for some reason, please let us know and pass along what content you have for the event, and we can pick it up from there.

[2022-07-26 17:19] laliwa commented on #376
Apologize for updating the website late, now the PR has been created and the preview can be see here https://deploy-preview-396--jakartaee-jakartaone.netlify.app/2022/chinese/

[2022-07-27 07:45] TanjaObradovic commented on #376
@laliwa you are making great progress! Thanks!

A couple of questions :
1. Can we create a link at the Upcoming Events for the JakartaOne Livestream - Chinese from the jakartaone.org page? See here...
![image](https://user-images.githubusercontent.com/40073121/181190763-6466d9c4-f8b3-4927-b514-4ac7ddac0db9.png)
2. Can we also add times for the session, not only duration?

Thanks!!!

[2022-07-27 12:51] autumnfound commented on #376
For additional information, you need to add an entry in each languages `./data/{languageCode}/conferences.yml` file. You can just copy-paste the English version into languages that you don't know, and they can be translated at a later date.

[2022-07-27 13:06] SESALIBI commented on #376
@laliwa the chinese language code "ZH"

[2022-07-28 14:12] TanjaObradovic commented on #376
@laliwa any updates on this?

[2022-07-28 15:07] laliwa commented on #376
@TanjaObradovic Done.

[2022-07-28 15:34] laliwa commented on #376
That's great! And sorry for all the trouble, pls be free to guide me whenever something goes wrong.

[2022-07-28 15:40] TanjaObradovic commented on #376
I am looking at https://deploy-preview-396--jakartaee-jakartaone.netlify.app/2022/chinese/ for now looks good.

I still do not see link at the Upcoming Events for the JakartaOne Livestream - Chinese on the jakartaone.org page.

[2022-07-28 15:44] autumnfound commented on #376
We haven't merged it in yet so that is by design ;) If you check https://deploy-preview-396--jakartaee-jakartaone.netlify.app it should be there though!

[2022-07-28 15:49] TanjaObradovic commented on #376
great! looks good!

[2022-07-28 16:25] SESALIBI commented on #376
it looks grreat +1 :)

[2022-07-29 08:56] TanjaObradovic commented on #376
In order to promote the event, can you please make the changes live? Thanks!!

[2022-07-29 12:31] SESALIBI commented on #376
@autumnfound you have my +1 :) can we make those changes live

[2022-07-29 13:16] autumnfound commented on #376
The initial version is live. Thanks @laliwa for the patience in dealing with us, and for submitting the PR :tada:

For any further changes to the Chinese event page/content, please make new issues with the request and we'd be happy to help!

[2022-07-29 13:16] #376 closed

[2022-08-03 16:28] JustinS-ContentSpecialist commented on #365
Hi everyone, I'll need a little feedback from someone who speaks German on the intended ordering of clips, and appropriate titles/descriptions.
But all 16 clips I received are there.

https://youtube.com/playlist?list=PLy7t4z5SYNaT0GOedspUDQUIck-4Gy-Bj

<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLy7t4z5SYNaT0GOedspUDQUIck-4Gy-Bj" title="YouTube video play

[2022-08-03 17:07] JanWesterkamp-iJUG commented on #365
@JustinS-ContentSpecialist Thanks for uploading the recordings!

The original file names containing the ISO timestamp from the session start, session name, speaker(s) and resolution - can you upload them with the full name and then drop/replace the parts, that might not make sense in the Youtube titel, when they are linked already in the agenda (timestamp should be replaced by "JakartaOne German"

[2022-08-03 17:58] JustinS-ContentSpecialist commented on #365
That's great knowing that these are in fact time codes, do you want me to keep the playlist format and re-order the clips, or edit all the different segments into a single video?

[2022-08-03 18:25] JanWesterkamp-iJUG commented on #365
I think they should be linked separately into the session slots (except the last one, that will be empty). But with the full name at the beginning, they should be ordered automatically.
When the video links placed corresponding to the session, then the timestamps can be replaced in the title of the video without mixing up things ;-)

[2022-08-03 21:48] JustinS-ContentSpecialist commented on #365
No problem knowing that they were timecoded allowed me to arrange the playlist properly.

https://youtube.com/playlist?list=PLutlXcN4EAwBd6S3fBcgS8yCOqhTwHOwj

<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLutlXcN4EAwBd6S3fBcgS8yCOqhTwHOwj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscop

[2022-08-04 08:51] JanWesterkamp-iJUG commented on #365
@JustinS-ContentSpecialist the ordering is correct now - but one session is missing (between 10 and 11), with file name:
20220630T145000 CN4J Studio - Über den Tellerrand - Jakarta EE, Adoptium & MicroProfile (Hendrik Ebbers, Falk Sippach, Jan Westerkamp) (1080p).mp4

Regarding the Youtube title: I should follow as much as possible the JakartaOne German agenda https://jakartaone.org/2022/german/#

[2022-08-04 12:45] JustinS-ContentSpecialist commented on #365
Knowing that each video corresponded to an event session was the missing piece, all the appropriate titles and descriptions have been added.

[2022-08-04 12:50] JanWesterkamp-iJUG commented on #365
@JustinS-ContentSpecialist but one video is still missing:
20220630T145000 CN4J Studio - Über den Tellerrand - Jakarta EE, Adoptium & MicroProfile (Hendrik Ebbers, Falk Sippach, Jan Westerkamp) (1080p).mp4

Also Youtube says that one video is not accessible/listed because it is not available (in German: 1 nicht verfügbares Video wird nicht angezeigt).

[2022-08-04 13:00] JustinS-ContentSpecialist commented on #365
ÜBER DEN TELLERRAND: JAKARTA EE, ADOPTIUM & MICROPROFILE + INDUSTRY SESSION - IBM, ORACLE, PAYARA

One of the videos is 52 minutes and contains both sessions, and has speaker information for both I believe.

https://youtu.be/NUA-nwWT9VI

As for the error that's weird can you share the one that's not working?

[2022-08-04 13:18] JanWesterkamp-iJUG commented on #365
@JustinS-ContentSpecialist you are right, the following session contains the CN4J Studio session too, but there where separate recordings for the two session available:

- 14:50 CN4J Studio
- 15:00 Industry Session including the 6:54/6:55 minutes from the CN4J Studio before

At the moment we should link the separate videos to the sessions as a quick fix.
The Industry Session video might have to be

[2022-08-04 14:34] JustinS-ContentSpecialist commented on #365
Yes, I can make the edit and separate the two sessions into separate uploads by Monday.

[2022-08-05 13:10] autumnfound commented on #367
Any movement on content? I know that your CFP is open until 21 August, but surrounding content like the registration section are also still missing. Just want to check in and make sure you guys are good and don't need any EF support!

[2022-08-07 21:08] otaviojava commented on #367
Hey, @autumnfound we're promoting the C4P.
We'll finish it in two weeks, so we'll create the registration.

[2022-08-08 17:59] JustinS-ContentSpecialist commented on #365
Updating the thread to mention that these two sessions were successfully edited and separated on youtube.

Let me know when the entire playlist should be flipped live, and if the promotion of said videos is primarily on your end or ours.

https://www.youtube.com/watch?v=9E7zujYAcFc&list=PLutlXcN4EAwBd6S3fBcgS8yCOqhTwHOwj&index=12&t=1s

https://www.youtube.com/watch?v=NUA-nwWT9VI&list=PLutlXcN4EAwB

[2022-08-08 18:27] JanWesterkamp-iJUG commented on #365
The split looks great, thanks!

The videos should be linked and accessible as soon as possible.
Promotion need to be done on all sides: JakartaOne (EF), CloudLand (DOAG/DCNC) and iJUG/CyberLand - all with their possibilities and channels.

Let me know, when the sessions are linked, so I can start this on our side.

Additionally, some refactorings on the web site need to be done:

- remove the Regi

[2022-08-08 18:35] ericpoirier commented on #365
@JanWesterkamp-iJUG where on the page should we add those playlists?

We can remove the Register button but can you provide the content for the other 2 items?

Thanks.

[2022-08-08 19:04] JustinS-ContentSpecialist commented on #365
CC @shabnammayel at this stage you can probably get involved again in Jan's request now that everything is more or less okay on the youtube end ^

[2022-08-08 20:33] JanWesterkamp-iJUG commented on #365
@ericpoirier the videos should be linked in the agenda file so they will be visible in the list of the sessions at each one here: https://jakartaone.org/2022/german/

Example is this the JakartaOne Livestream 2021: https://jakartaone.org/2021/

Regarding the event description text on the top - the last three parts should be deleted:

- Note ("Note:...")
- Register button
- Registering details ("Wh

[2022-08-09 12:29] ericpoirier commented on #365
@JanWesterkamp-iJUG We don't have any special fields for the Event description translation but we have a markdown file for each languages so we can have the event page in both languages.

[2022-08-09 12:40] ZacharySabourin commented on #365
@JanWesterkamp-iJUG @JustinS-ContentSpecialist
A preview of the requested changes is available here: https://deploy-preview-398--jakartaee-jakartaone.netlify.app/2022/german/

[2022-08-09 13:42] JanWesterkamp-iJUG commented on #365
@ZacharySabourin cool thanks, that looks great to me - all videos linked correctly and the button and texts removed as requested!

@JustinS-ContentSpecialist some small findings I got on the Youtube side:

- https://www.youtube.com/watch?v=9E7zujYAcFc&list=PLutlXcN4EAwBd6S3fBcgS8yCOqhTwHOwj&index=13[CN4J Studio Über den Tellerrand Jakarta EE, Adoptium & MicroProfile Hendrik Ebbe] should be renamed

[2022-08-16 09:20] otaviojava commented on #367
Hello everyone,

@autumnfound could you update the table:

| Time(Portugal)      | Time(Brazil)        | Title                                                        | Type         | Speaker                         |
| ------------------- | ------------------- | ------------------------------------------------------------ | ------------ | ------------------------------- |
| 01:00 PM - 01:15 PM | 9

[2022-08-17 08:27] otaviojava commented on #367
Hey, @autumnfound we also have the link to the conf:
https://www.crowdcast.io/e/jakarta-portuguese-2022

Could you update it this one as well?

[2022-08-17 13:28] ZacharySabourin commented on #367
@otaviojava @SESALIBI Here is a preview of the requested changes https://deploy-preview-401--jakartaee-jakartaone.netlify.app/2022/portuguese/

I am currently using the Portugal (WET) time. Let me know if you would prefer I use the Brazil time

[2022-08-18 07:24] otaviojava commented on #367
@ZacharySabourin
Could you remove the Call for papers link?

[2022-08-18 12:35] ZacharySabourin commented on #367
I have removed the CFP button: https://deploy-preview-401--jakartaee-jakartaone.netlify.app/2022/portuguese/

[2022-08-18 13:04] SESALIBI commented on #367
Thank you Zach!

Serina

On Thu, Aug 18, 2022 at 8:35 AM Zachary Sabourin ***@***.***>
wrote:

--

Serina El Salibi

Virtual Event Specialist | Eclipse Foundation, Inc.

Eclipse Foundation <http://www.eclipse.org/>: The Community for Open
Innovation and Collaboration

[2022-08-18 13:40] autumnfound commented on #367
We're good to go otherwise? Just want to be sure before I hit the merge button! Not sure if you guys still want the "More content coming" section still

[2022-08-18 16:08] kmacedovarela commented on #367
Thank you for implementing the updates team.

@autumnfound,
Go ahead and merge please.
I'll send a PR today or tomorrow with some adjustments.

Do you think we can get it merged before Monday midday EST?

[2022-08-18 16:23] otaviojava commented on #367
Yes, go live :rocket:
Please, let us know to the first promotion.

[2022-08-19 11:58] ZacharySabourin commented on #367
The changes are now live :)

[2022-08-20 21:30] kmacedovarela commented on #367
Hey @ZacharySabourin, when you have the time, please review and merge the PR with several page updates.

 https://github.com/jakartaee/jakartaone.org/pull/403

[2022-08-23 17:55] kmacedovarela commented on #367
We are depending on this PR acceptance to promote the jakartaone pt during a Brazilian event  happening this week. Tomorrow is the last day of this event. Do you think you can review || accept || send feedback today or at max tomorrow morning?

[2022-08-23 18:02] kmacedovarela commented on #367
Thank you very much for accepting the PR!

I am still waiting for some last updates from some vendor speakers. Should we close this issue or can we reuse it for upcoming PRs?

[2022-08-23 18:18] autumnfound commented on #367
Up to you guys! It's cleaner/easier to follow if we close and open new issues as needed rather than use a mega thread like this. Less spammy notifications get sent out that way!

[2022-08-23 18:21] kmacedovarela commented on #367
@otaviojava are you ok with closing this issue?

[2022-08-26 10:20] otaviojava commented on #367
Yeap, it is fine!

[2022-08-26 10:20] #367 closed

[2022-08-31 13:03] autumnfound commented on #385
Checking in @kazumura, I've seen some PRs fly by, hows it going? Do you need any support or are you still good to go?

[2022-08-31 13:16] kazumura commented on #385
@autumnfound
Becuase of timezone lag, I merge several PRs by myself so that we can update the website timely.
Of cource I am testing with hugo server in my local environment,
and also preview environment(netlify.app).
It is very easy for us to update the website.
So far we do not see any troubles, but if you think it is not good, please let me know.

[2022-08-31 14:01] autumnfound commented on #385
I haven't seen any problems! I'm just checking in to see if you need anything as its been a month haha. Glad that we could make it easy for updates, that was part of our goal with the events framework

[2022-09-12 12:53] autumnfound commented on #365
This is a complete event and has had no traffic for a month. I am closing this issue, please open a new issue if you need any further changes, thanks!

[2022-09-12 12:53] #365 closed

[2022-09-12 12:54] autumnfound commented on #385
@kazumura I'm going to close this issue as I think we're in a good spot for finishing out the event at this point! This issue is hard to manage with how long it has gone on, so if you need any further assistance, feel free to create a new issue!

[2022-09-12 12:56] autumnfound commented on #136
Closing as I don't believe this applies anymore. We've changed how upcoming events is displayed and there are no logos anymore

[2022-09-12 12:56] #136 closed

[2022-09-12 13:03] autumnfound commented on #83
Closing this issue for new issue. That new request covers all missing labels, and we will pass the needed labels to the community and ask for assistance to better enable the change.

[2022-09-12 13:03] #83 closed

[2022-09-12 13:10] chrisguindon commented on #274
I am closing this issue since it's lacking information for us to act on!

Please re-open with more information if you disagree!

Thanks!

[2022-09-12 13:10] #274 closed

[2022-09-12 13:13] autumnfound opened #414 "Add missing content copy for completed events"
We require content copies for completed events in order to make this section properly display on the homepage:

![image](https://user-images.githubusercontent.com/23018241/189661961-33bea0d1-aa55-456f-b967-10195a6895ba.png)

We would need content for Chinese, German, and might as well add one for Japan if possible since it's done by end of the week. An alternative to this would be to consider remo

[2022-09-12 13:13] chrisguindon commented on #275
Hi all,

I am tiring to close some inactive issues to streamline our issue queue.
https://github.com/jakartaee/collateral/ is probably the right location for discussing if such a mailing list should be created.

If folks agree on the creation of such a mailing list, then a request to our [Helpdesk](https://gitlab.eclipse.org/eclipsefdn/helpdesk) is required for asking the webmaster to create the m

[2022-09-12 13:14] #275 closed

[2022-09-12 13:14] chrisguindon commented on #209
@TanjaObradovic Is there anything for us to do here or can we close this issue?

[2022-09-12 13:16] autumnfound commented on #414
@SESALIBI this may be your wheel house as our event specialist!

[2022-09-12 17:31] SESALIBI commented on #414
sure lol I can provide these details. It's first for me do I just past the details in here and you guys publish it to the webiste?

[2022-09-12 17:52] autumnfound commented on #414
If you guys want, it would only take about 5 minutes to push up a preview for you guys to see how it would look and compare it to the live site! I only mention removing this as its a manual content copy rather than automatic, and with community content generation this doesn't usually get populated. It creates more churn for you guys, and I don't personally think it provides a lot of value

[2022-09-12 18:36] shanda-eclipse commented on #414
+1 for removing the description from the tiles. I think to add enough context, they have to be lengthy, which doesn't look good.

[2022-09-15 16:15] kmacedovarela commented on #367
Hi, @autumnfound @ZacharySabourin

Can you please review this agenda update and merge it when possible? #415

Thank you

[2022-09-15 20:53] SESALIBI opened #416 "JakartaOne Livestream 2022 - Add committees + initial content"
Webdev - Request
If you are interested in organizing a JakartaOne Livestream conference in your region, please provide the following information:

**Organization (Optional):**
Eclipse Foundation

**Country to host the conference:**
Ottawa, Canada

**Targeted conference date:**
December 6, 2022

Next Steps:
Start building off this website https://jakartaone.org/2022/
can we create two section divid

[2022-09-15 23:42] cesarhernandezgt opened #417 "Page for JakartaOne Language Host Process"
**Is your feature request related to a problem? Please describe.**
The overall process for hosting a JakartaOne event live in this pdf: https://jakartaone.org/documents/jakartaone-language-host-process.pdf

As part of the Jakarta Marketing Committee review of github issues from Jakarta collateral repository, I follow up this github issue: https://github.com/jakartaee/collateral/issues/19 and I thi

[2022-09-15 23:45] cesarhernandezgt commented on #417
PR is available for review: https://github.com/jakartaee/jakartaone.org/pull/418

[2022-09-16 00:14] aeiras commented on #417
+1 on reasons

[2022-09-16 12:32] ericpoirier commented on #416
Hi @SESALIBI, can you provide a list of the EF staff you'd like to list under the Organizers section?

Thanks.

[2022-09-16 12:35] #417 closed

[2022-09-16 13:37] SESALIBI commented on #416
@ericpoirier the EF Staff is Tanja Obradovic , Shabnam mayel & Ivar Grimstad ? @TanjaObradovic can you confirm?

[2022-09-16 13:52] TanjaObradovic commented on #416
Sounds good!

[2022-09-16 14:48] oliviergoulet5 commented on #416
Can we get some content for the page between the jumbotron and the Program Committee section? Looks odd without a white section in-between.

![image](https://user-images.githubusercontent.com/17685861/190666801-ac5a5e30-aebd-4816-8aeb-0b1a8214f947.png)

[2022-09-16 14:48] autumnfound commented on #416
When creating an issue, please make the issue title descriptive, as we will be pushing to move away from long-standing bucket issues. They are hard to manage and much less productive than scoped issues/requests.

[2022-09-16 15:11] SESALIBI commented on #416
Does this work @oliviergoulet5 & @TanjaObradovic
MEET THE PROGRAM COMMITTEE
We are proud to say that the sessions and keynotes at JakartaOne Livestream Event are chosen by an independent program committee made up of volunteers from the Jakarta EE and cloud native Java community!

[2022-09-16 15:14] autumnfound commented on #416
What we are more looking for here is the about the event section like on this page https://jakartaone.org/2022/german/

[2022-09-16 15:18] TanjaObradovic commented on #416
Great! Just a minor change:

We are proud to say that this year, sessions at JakartaOne Livestream Event are chosen by an independent program committee made up of volunteers from the Jakarta EE and cloud native Java community!

[2022-09-16 15:25] oliviergoulet5 commented on #416
Almost done here. I just need a picture, title, and bio from @shabnammayel for the Organizers section.

For @TanjaObradovic and @ivargrimstad I have used your bio, titles and pictures from the 2021 event. Feel free to reply with  new ones if you want them changed.

Here is what you had last year:
https://jakartaone.org/2021/
https://jakartaone.org/2021/program-committees

[2022-09-16 15:34] TanjaObradovic commented on #416
I am good with mine!

[2022-09-16 15:59] oliviergoulet5 commented on #416
https://deploy-preview-420--jakartaee-jakartaone.netlify.app/2022/

Here is a preview.

Todo:
- "Organizers" section should have a description similar to Program Committee's to look consistent.
- "About The Event" section just has the intro paragraph at the moment. I'm thinking we should add more paragraphs to look like the [German event page](https://jakartaone.org/2022/german/) like Martin sugge

[2022-09-16 16:02] TanjaObradovic commented on #416
Looks great! Many thanks!

If I can by picky - any chance to  have all 5 Program Committee members in one line? so they are all visible at the same time and Edwin does not go in the second line?

[2022-09-16 17:00] autumnfound commented on #416
@oliviergoulet5 we should switch the second people section to use the standard speakers look and feel. Duplicating the program committee look and feel doesn't quite work with how unique a section it is. For it to flow well with the page, we would want a different bg image at least.

[2022-09-16 18:01] TanjaObradovic commented on #416
sounds like a great idea! thanks!

[2022-09-16 18:33] #416 closed

[2022-09-16 18:42] oliviergoulet5 commented on #416
@TanjaObradovic @SESALIBI The page is live https://jakartaone.org/2022/

[2022-09-22 15:19] oliviergoulet5 commented on #414
Here is a preview: https://deploy-preview-419--jakartaee-jakartaone.netlify.app/

[2022-09-22 15:48] shanda-eclipse commented on #414
+1

[2022-09-27 20:28] SESALIBI opened #426 "jakartaOne Livestream Japanese Website"
Hi Team,
 Can we update the jakartaone Livestream Japan website https://jakartaone.org/2022/japan/.

The agenda needs to be edited. We need to replace the timeslots with the upload links to the youtube videos.  (file attached) https://docs.google.com/spreadsheets/d/1NIyjhdUN6QKT6Qyn-OCp7Mu68l_7Za8KKbCcHzowv10/edit#gid=0

update the messaging:
Thank You for making the first JakartaOne Livestream Ja

[2022-09-28 05:13] kazumura commented on #426
Done.

https://github.com/jakartaee/jakartaone.org/pull/427

[2022-09-28 11:57] ericpoirier commented on #426
Closing this issue since the video was merged to production.

@SESALIBI please reopen if something is missing.

Thanks.

[2022-09-28 11:57] #426 closed

[2022-09-29 18:38] SESALIBI opened #428 "JakartaOne Livestream Portuguese Website Agenda Update"
Hi Team,

Another JakartaOne Livestream Event update. the agenda on this page https://jakartaone.org/2022/portuguese/ times need to be switched out to the below youtube video links please.

https://docs.google.com/spreadsheets/d/1eLYcOQ-l9DoDXXru0ODmlt-UOHCiDJongnmM1VBnKaI/edit#gid=0

update the messaging:
Thank You for making the JakartaOne Livestream Portuguese event a great success!

[2022-09-30 14:00] ZacharySabourin commented on #428
@SESALIBI could I also get a Portuguese version of the thank you message? Thanks!

[2022-09-30 14:03] SESALIBI commented on #428
@ZacharySabourin Obrigado por fazer do evento JakartaOne Livestream Português um grande sucesso!

[2022-09-30 16:08] ZacharySabourin commented on #428
@SESALIBI I realized I forgot to also ask for the translation of `THE EVENT HAS NOW CONCLUDED!` :)

[2022-09-30 19:23] SESALIBI commented on #428
@ZacharySabourin looks good and here's the translation for the event has now concluded in portuguese. o evento já terminou

[2022-10-03 13:35] ZacharySabourin commented on #428
@SESALIBI the changes are now live!

[2022-10-03 14:44] SESALIBI opened #430 "Add Registration Link - https://jakartaone.org/2022/"
Hi Team,

Can we add the following Registration link https://www.crowdcast.io/e/dec_06_jakartaonelivestream  for this event https://jakartaone.org/2022/ on the website please :).

Kindly let me know if you have any other questions.

Serina

[2022-10-04 15:10] oliviergoulet5 commented on #430
Hey @SESALIBI

I have added the registration link to the event page: https://deploy-preview-431--jakartaee-jakartaone.netlify.app/2022/

Let me know if this is good to go live.

[2022-10-04 17:58] TanjaObradovic opened #432 "Organizing "https://jakartaone.org/past-events/" page"
Can we please organize this page by adding section for each of the years and then sort out events by dates?

https://jakartaone.org/past-events/

Many thanks!

[2022-10-05 12:01] SESALIBI commented on #430
@oliviergoulet5 +1

[2022-10-05 14:10] oliviergoulet5 commented on #430
Page is live! https://jakartaone.org/2022/

[2022-10-06 01:02] SESALIBI commented on #430
@oliviergoulet5 thank you so much! @TanjaObradovic @shabnammayel  FYI.

[2022-10-11 15:13] oliviergoulet5 commented on #432
Just to give an update since its been a week since this opened. I will begin working on this now.

[2022-10-11 18:06] oliviergoulet5 commented on #432
@TanjaObradovic I added sections for each year and sorted events by date.

I'm no longer displaying the year on the event since it's now specified under the section header.

Here is a preview: https://deploy-preview-433--jakartaee-jakartaone.netlify.app/past-events/

[2022-10-21 13:51] oliviergoulet5 commented on #432
Hi @TanjaObradovic, this issue hasn't had activity in a while. Is this still on your radar?

[2022-10-24 14:42] SESALIBI opened #434 "CFP - Closed - JakartaOne Livestream Event December 6, 2022"
hi Team,

CFP has officially been closed s of October 19th. Can we close that off on the website please https://jakartaone.org/2022/

Thank you.
Serina

[2022-10-25 15:20] oliviergoulet5 commented on #434
Here is a preview of the change: https://deploy-preview-436--jakartaee-jakartaone.netlify.app/2022/

[2022-10-26 20:10] SESALIBI commented on #434
thank you @oliviergoulet5 +1

[2022-10-27 12:32] #434 closed

[2022-10-27 15:23] oliviergoulet5 commented on #432
It was already sorted in descending order. You must've noticed that the "JakartaOne Livestream Chinese" event was out of order. I provided that event the wrong date. This is fixed now!

[2022-10-27 15:45] TanjaObradovic commented on #432
great - that is !!!

[2022-10-27 17:20] #432 closed

[2022-11-02 23:55] SESALIBI opened #437 "Speaker Section - JakartaOne Livestream"
Hi Team , we would like to add the following speakers/ talks to the JakartaOne Livestream site. Below is the details that I have so far and collecting as i receive them. Please let me know if there's another format I should be sending this over in.

Thanks again for all your help.

![emily_jiang](https://user-images.githubusercontent.com/100630972/199623771-ce722f25-fc73-4df5-bedd-e649f1a4b58d.jpg

[2022-11-03 00:31] SESALIBI commented on #437
**New Speaker Details:**
Pic: To come
Name: Fabio Andrés Turizo Correa

Email: [fabio.turizo@gmail.com](mailto:fabio.turizo@gmail.com)

Organization: Payara Services Ltd.

Twitter: fabturizo

URL: https://www.linkedin.com/in/fturizo/

Bio: Fabio is a software Engineer offering over 12 years in the IT industry with a focus on software architecture and development. Oracle Certified Professional and

[2022-11-03 16:50] SESALIBI opened #438 "JakartaOne Livestream - Agenda Section"
Hi Team, here's the direct link to the Agenda for JakartaOne Livestream. Their may be a couple of tweeks as its still being refined but would like to give you visibility and once I get the +1 to have it published I will let you know but I would like the preliminary work to be done on this if possible.

https://docs.google.com/spreadsheets/d/1U_D_AbemXsgXmFI6DSVGlBwM0NTs24ahFpUSUD2hX6Q/edit#gid=0

[2022-11-03 20:18] oliviergoulet5 commented on #437
@SESALIBI Here is a preview of what I have: https://deploy-preview-439--jakartaee-jakartaone.netlify.app/2022/

I intentionally left out Kito Mann for now - I'll add him when we get a picture - unless necessary. Our placeholder images for speakers without pictures doesn't look right with this page's design at the moment.

[2022-11-03 20:22] SESALIBI commented on #437
@oliviergoulet5 ok awesome thank you for doing that and I will continue to push to collect their info sucha s pics and bio from the remianing speakers. you got my +1 to publish

[2022-11-03 20:59] SESALIBI commented on #437
new to add:

![202106 speaker headshot](https://user-images.githubusercontent.com/100630972/199832167-34f2d79b-3f70-4d48-aa85-352f6aeab6bb.jpg)
**Name:**Maarten Mulders
**Title**: N/A
**BIO**:Passionate architect, senior developer and trainer; also Java Champion. Passionate about "building the right thing" and "building the thing right". Focusing on lean and elegant solutions. Love to share new id

[2022-11-07 17:46] SESALIBI opened #440 "Speaker Section - Edits, New Adds & Missing Info Updates on JakartaOne Livestream"
**Edit**** Bruno Baptista
title below his name on the jakartaone.org/2022/ speaker display should read " Principal Engineer at RedHat". and He's bio to reflect this as well.
"Bruno Baptista is a Principal Engineer at Red Hat working with observability subjects in the Quarkus team at Red Hat. With over 14 years as an enterprise-level engineer, Bruno has worked as a Systems Architect, led QA and dev

[2022-11-07 17:52] SESALIBI opened #441 "Default image for URL JakartaOne.org/2022/ - needed"
Hi Team, can we have the following image as the default image for the www.jakartaone.org/2022/ website used? currently it's pulling one of the pseakers pics. Thanks.
![5](https://user-images.githubusercontent.com/100630972/200380303-a57cbee5-2ec7-4f3c-b195-c1b0add6cf63.png)

[2022-11-07 19:19] ZacharySabourin commented on #440
@SESALIBI Here is a preview of the requested speaker changes https://deploy-preview-442--jakartaee-jakartaone.netlify.app/2022/

[2022-11-07 19:54] ZacharySabourin commented on #441
@SESALIBI Here is a preview of the request change: https://deploy-preview-443--jakartaee-jakartaone.netlify.app/

You can navigate to any page that contains the "Upcoming events" footer section to view the change

[2022-11-07 20:39] SESALIBI commented on #440
@ZacharySabourin sorry for the extra work here. I just had one of the speakers ask that we switch his old pic with the new one. I just updated the pic on the above request. its highlighted in yellow. besides that, everything else looks good.

[2022-11-07 20:59] ZacharySabourin commented on #440
@SESALIBI NP! The image has been updated in the preview :)

[2022-11-07 21:06] SESALIBI commented on #440
@ZacharySabourin can we add the following title below Marteen Name: Java Champion

and I just got a new speaker info:

![headshot_bazlur (1)](https://user-images.githubusercontent.com/100630972/200415355-8ac6709e-167f-42a3-8d36-c679c5d8defe.jpg)
**title**Editor for the Java Queue at InfoQ and Foojay.io
**BIO**:A N M Bazlur Rahman is a Software Engineer, Java Champion, Jakarta EE Ambassador, Author

[2022-11-07 21:17] SESALIBI commented on #440
@ZacharySabourin new info to add to existing speaker Thomas Watson:

**Title** Senior Software Engineer
**BIO**:Thomas Watson has over 20 years of experience contributing to and leading various open source projects at the Eclipse and the Apache Foundations. His current focus includes development of the Open Liberty project, moving the Eclipse Jakarta and Eclipse OSGi specifications forward as well

[2022-11-08 13:40] ZacharySabourin commented on #440
@SESALIBI The newest changes should be available in the preview here: https://deploy-preview-442--jakartaee-jakartaone.netlify.app/2022/

[2022-11-08 13:52] SESALIBI commented on #440
@ZacharySabourin +1 thank you for all your help as always

[2022-11-08 14:22] ZacharySabourin commented on #440
NP! The changes are now live :)

[2022-11-14 16:34] SESALIBI commented on #441
+1 ythank you @ZacharySabourin

[2022-11-15 13:54] #441 closed

[2022-11-15 15:51] SESALIBI opened #444 "JakartaOne Livestream Organizer Title Change"
Hi Team,

Sorry this little update was missed in the last updates.  can we change the wording from "organizers" to "Hosts" please on the https://jakartaone.org/2022/

[2022-11-15 16:18] oliviergoulet5 commented on #438
@SESALIBI Are the Studio Jakarta EE sessions to be added? They are not marked as confirmed.

[2022-11-15 16:20] SESALIBI commented on #438
+1 yes please add those as well :)

[2022-11-15 17:26] oliviergoulet5 commented on #438
@SESALIBI Here is a preview link: https://deploy-preview-445--jakartaee-jakartaone.netlify.app/2022/

FYI I added session types to where I thought would make sense but you'll want to review them. I was uncertain about labelling some sessions as "Jakarta EE" or "Microprofile" so I assigned them the "panel" type. These are shown in the agenda's legend.

In the future I would suggest we show the type

[2022-11-15 19:49] oliviergoulet5 commented on #444
@SESALIBI Here's the preview for this change: https://deploy-preview-446--jakartaee-jakartaone.netlify.app/2022

[2022-11-15 19:51] oliviergoulet5 opened #447 "Livestream 2022 - Fix social media icons on footer and overflow"
JakartaOne 2022 Livestream page has some horizontal overflow and the social media icons in the footer are not displaying properly.

## Overflow
![image](https://user-images.githubusercontent.com/17685861/202289429-5b34ea1e-74b8-4b47-bff6-c42d4c2f159c.png)

## Social media icons
![image](https://user-images.githubusercontent.com/17685861/202288864-4ef0bc9e-98b8-4d69-bc00-1eec70c8fdcc.png)

### Reas

[2022-11-15 19:54] SESALIBI commented on #444
+1

[2022-11-15 19:56] SESALIBI commented on #438
@oliviergoulet5 can you hide all the other icons and just keep the keynotes in the legend?  Otherwise I’m afraid it will take a while to collect the info we need for each one of these talks.

[2022-11-15 20:03] oliviergoulet5 commented on #438
Ok, I made the changes @SESALIBI. Only keynotes are shown in the legend.

[2022-11-15 20:05] SESALIBI commented on #438
+1 thank you @oliviergoulet5

[2022-11-15 20:26] #438 closed

[2022-11-15 20:35] oliviergoulet5 commented on #438
This is now live!

[2022-11-16 19:22] #444 closed

[2022-11-16 20:43] chrisguindon opened #450 "The program committee section is adding an horizontal scroll bar on Jakartone 2022"
I see some horizontal scrolling on https://jakartaone.org/2022/

I did some investigating and I believe the issue originate from the PROGRAM COMMITTEE section.

@oliviergoulet5 can you take a look at fixing this please?

[2022-11-16 20:45] chrisguindon commented on #450
Looks you beat me to this @oliviergoulet5.

Closing this issue as a duplicate for https://github.com/jakartaee/jakartaone.org/issues/447

[2022-11-16 20:45] #450 closed

[2022-11-16 20:50] oliviergoulet5 commented on #447
@meKokabi Would there be a problem if I just remove this second row of social media icons entirely? It doesn't appear to be in the original mockup:
- [invisionapp mockup](https://projects.invisionapp.com/share/N210AVIISKH6#/screens) from https://github.com/jakartaee/jakartaone.org/issues/270

/cc @shabnammayel @shanda-eclipse

[2022-11-16 20:57] shanda-eclipse commented on #447
+1 to remove the second row of icons

[2022-11-16 21:00] meKokabi commented on #447
@oliviergoulet5 Absolutely! Please do!

[2022-11-16 21:12] #447 closed

[2022-11-21 17:08] SESALIBI opened #452 "Name Update for Hosts on Schedule & Colored Legend identified for JakartaOne"
Hi Team,

Ca we remove the last names on the agenda of JakartaOne Livestream event for both the welcome and Closing. Tanja would like it to read (Shabnam, Tanja & Ivar).

and if we can add for the studio sessions the following: “Hosted by: Shabnam, Tanja & Ivar”

[2022-11-21 17:30] SESALIBI commented on #452
@TanjaObradovic Thank you for color coordinating the schedule this was missing last week when Olivier worked on it
@oliviergoulet5 please find the identified legend and talks specified in the colored legend. https://docs.google.com/spreadsheets/d/1U_D_AbemXsgXmFI6DSVGlBwM0NTs24ahFpUSUD2hX6Q/edit#gid=0.

[2022-11-22 17:20] TanjaObradovic commented on #452
@oliviergoulet5 if there is any chance, can you please raise the priority of this one? Many thanks!

[2022-11-22 18:02] oliviergoulet5 commented on #452
I'll begin working on it now!

[2022-11-22 18:31] oliviergoulet5 commented on #452
@SESALIBI Here is a preview: https://deploy-preview-453--jakartaee-jakartaone.netlify.app/2022/

/cc @TanjaObradovic

[2022-11-22 19:13] SESALIBI commented on #452
@TanjaObradovic looks good to me kindly review and give @oliviergoulet5 your +1 if you are good with it.

[2022-11-23 14:13] oliviergoulet5 commented on #452
I went ahead and made it live since it seemed to be time-sensitive.

[2022-11-23 14:23] TanjaObradovic commented on #452
Many thanks!!!
I am sorry I missed your message. +1 from @SESALIBI works always :)
Minor thing the

**WELCOME** has **Shabnam, Tanja & Ivar**
**CLOSING** has **Hosted by Shabnam, Tanja, & Ivar**

the rest have **Hosted by: Shabnam, Tanja, & Ivar**

When you get a chance - can you please standardize?

Many thanks!

[2022-11-23 18:56] SESALIBI commented on #452
@oliviergoulet5 +1 looks good

[2022-11-23 19:31] #452 closed

[2022-11-30 21:49] cesarhernandezgt opened #455 "Download button should be redirecting to"
Download button in https://jakartaone.org [1] should be redirecting to https://jakartaone.org/hostanevent/ instead of pdf download.

Context: https://github.com/jakartaee/jakartaone.org/issues/417

[1]
![image](https://user-images.githubusercontent.com/1454523/204915237-ead5b3a7-5b76-458f-915f-ac4718444784.png)